[2017-10-16 02:16] darrelmiller opened #5 "Translate $ref path in V2 writer"

[2017-10-16 02:24] darrelmiller opened #7 "Add downgrade for wildcard http status codes in V2 writer"

[2017-10-16 02:24] darrelmiller opened #8 "Add support for form for V2 export"

[2017-10-16 15:11] darrelmiller opened #9 "Migrate Writers from OData.OpenAPI"

[2017-10-17 00:48] #9 closed, assigned to darrelmiller

[2017-10-17 01:52] xuzhg opened #14 "[Discuss] Design & implement Any type in Open API"
Please share your thoughts:

Open API spec says:

Field Pattern | Type | Description
-- | -- | --
^x- | Any | Allows extensions to the OpenAPI Schema. The field name MUST begin with x-, for example, x-internal-id. The value can be null, a primitive, an array or an object. Can have any valid JSON format value.

So, the Any type could be:

1. Null,
2. Primitive
3. Array
4. Object

While, Open API sp

[2017-10-19 20:31] PerthCharern opened #16 "Make the code adhere to engineering guideline"
We should agree on a coding guideline to use:

I suggest we follow the one prescribed for aspnet

https://github.com/aspnet/Home/wiki/Engineering-guidelines#coding-guidelines

I looked through some of the major Microsoft OSS repos and they generally follow this guideline. It's very generic and does not prescribe too many rules; rules not explicitly prescribed mean that Visual Studio default should

[2017-10-19 20:39] PerthCharern opened #17 "Create interface for reader"
@xuzhg  @darrelmiller

Is one of you working on this already? If not, I can take a stab at this.

Based on our last discussion, we will have something along the line of:

- An interface class (possibly with generic template)

- Load/Parse/Read method

@darrelmiller Darrel, you mentioned in the call that we can base the methods out of XDocument. I looked through that but it seems like most other me

[2017-10-19 22:37] PerthCharern opened #19 "Fluent Assertions for xUnit"
I am a big fan of the Fluent Assertions framework http://fluentassertions.com/, which integrates well with xUnit.

It gets rid of the Assert.XXX syntax and use a more human-readable actual.Should().Be().EqualTo(expected) syntax. It also provides out-of-the-box support for deep object comparison. The error message pinpoints where exactly two objects are different.

I don't see a downside except fro

[2017-10-20 18:56] #17 closed, assigned to PerthCharern

[2017-10-20 19:30] PerthCharern opened #23 "Refactor ParsingContext"

[2017-10-20 19:32] PerthCharern opened #24 "Implement IOpenApiExtension"

[2017-10-23 19:01] xuzhg opened #26 "Convert the Input string into correct IOpenApiAny object"
So far, we read string and only use OpenApiString to host it.

We should convert the string into the correct IOpenApiAny object.

[2017-10-23 20:20] #24 closed, assigned to xuzhg

[2017-10-24 20:25] #23 closed, assigned to PerthCharern

[2017-10-24 23:01] PerthCharern opened #32 "Fix Security Scheme related parts of V2 deserializer"
The current logic is just a verbatim copy of V3 deserializer, which is incorrect.

[2017-10-24 23:10] PerthCharern opened #33 "Unit tests for OpenApiV2Serializer and OpenApiV3Serializer"

[2017-10-25 12:02] darrelmiller opened #34 "What is IOpenApiElement for?"
It currently seems to be unused.  Do we need it?

[2017-10-26 19:12] PerthCharern opened #37 "Improving unit tests"
Unit tests we have are not sufficient, and the way each test is written is inconsistent with one another.

[2017-10-26 19:13] PerthCharern opened #38 "Delete Workbench project"
@darrelmiller Darrel, is the Workbench project supposed to be used for something? Can we remove it?

[2017-10-26 21:19] PerthCharern opened #39 "Bugs in YamlWriter"
## String handling

https://stackoverflow.com/questions/19109912/do-i-need-quotes-for-strings-in-yaml

For example,

If the string "10" is the input, WriteValue("10") should yield '10' (with single quote) to signify that this is indeed a string. Otherwise, this 10 can be interpreted as a number.

## Empty object inside the document

{} can be used for empty object. Current implementation only show

[2017-10-27 20:46] xuzhg opened #43 "Create functionality in Reader project to convert the string to IOpenApiAny type"

[2017-10-27 21:22] xuzhg opened #44 "Clean, refactor each OpenApiElement"

[2017-10-31 22:31] PerthCharern opened #49 "Clean up WriteAsV2 for Server / Document / SecurityScheme / SecurityRequirement"

[2017-10-31 22:31] PerthCharern opened #50 "Add Encoding object to the reader"

[2017-11-02 20:23] #49 closed, assigned to PerthCharern

[2017-11-02 21:49] PerthCharern opened #55 "Subtask of #44 - clean up Schema and Parameter"
@xuzhg I'm creating these subtasks to let you know which ones I'm working on (so that we don't collide too much).

Subtask of #44

[2017-11-02 23:40] xuzhg opened #57 "More specific check for the reading content"
For example:

When we read the response, Can we make sure the response status codes is HTTP status code (3-digit-number starting with 1, 2, 3, 4, 5 or the range definition allowed: 1XX, 2XX, 3XX, 4XX, 5XX)

[2017-11-03 00:33] #55 closed, assigned to PerthCharern

[2017-11-03 17:38] PerthCharern opened #59 "Region vs partial classes"
@xuzhg @darrelmiller What do you guys think about changing the Deserializer from one big file with multiple regions into multiple partial classes (based on the model)?

One advantage I see is that now the reader files can be easily mapped 1-to-1 to the model, and it will be clearer to the contributor which file(s) to touch when a model is changed.

[2017-11-06 19:45] #59 closed, assigned to PerthCharern

[2017-11-06 19:46] PerthCharern opened #65 "Add CI for build & test check"
- check in requires build + test to pass

[2017-11-06 19:46] PerthCharern opened #66 "Add CI for build artefact + NuGet packaging"

[2017-11-06 20:00] #34 closed, assigned to nobody

[2017-11-07 21:18] #65 closed, assigned to PerthCharern

[2017-11-09 01:58] #66 closed, assigned to PerthCharern

[2017-11-09 21:00] #39 closed, assigned to PerthCharern

[2017-11-10 19:27] #44 closed, assigned to xuzhg

[2017-11-10 19:31] #43 closed, assigned to nobody

[2017-11-10 19:45] xuzhg opened #78 "Add validation rules and Validator into the Core lib"
1. Design the validation rule framework
2. Add the validator

[2017-11-10 23:36] PerthCharern opened #81 "Bugs in Tags and Schemes (IReference)"

[2017-11-12 22:28] darrelmiller opened #85 "Should info.Title and info.Version be assigned a default value."
These are required fields, therefore assigning a default value effectively invalidates that requirement.  Should we raise a validation error if either of those values are not provided?

[2017-11-13 02:24] darrelmiller opened #87 "Add downgrade for wildcard http status codes in V2 writer"

[2017-11-13 23:37] #19 closed, assigned to PerthCharern

[2017-11-16 18:36] PerthCharern opened #91 "Flow of context and reference setting in the reader strange and potentially circular"
@andystumpp

"In order to set the reference service in the context, you need the rootnode, for that though you need the context to have (partially?) initialized... Is there some potential circular reference?"

This is a valid concern. Even if we do not have any circular reference, the flow seems a little strange and difficult to understand and debug if there are any issues later on.

[2017-11-16 19:06] PerthCharern opened #92 "Equality issue with SecurityRequirement.Schemes"
SecurityScheme object is used as dictionary key in SecurityRequirement.Schemes.

~~We need to do one of the following:~~

~~1. Implement GetHashCode / Equals in SecurityScheme and ALL the downstream classes~~
~~2. Implement SecuritySchemeComparer : IEqualityComparer<SecurityScheme> and use that to construct the dictionary. This is an ad-hoc comparer and all the dive-down equality comparisons will

[2017-11-16 22:56] #81 closed, assigned to PerthCharern

[2017-11-16 23:23] #92 closed, assigned to PerthCharern

[2017-11-21 20:31] #85 closed, assigned to nobody

[2017-11-22 19:21] xuzhg opened #98 "Serialize an empty OpenApiDocument throw null reference exception."
[code]

`
Unhandled Exception: System.NullReferenceException: Object reference not set to an instance of an object.
   at Microsoft.OpenApi.Models.OpenApiDocument.SerializeAsV3(IOpenApiWriter writer)
   at Microsoft.OpenApi.Extensions.OpenApiSerializableExtensions.Serialize[T](T element, IOpenApiWriter writer, OpenApiSpecVersion specVersion)
   at Microsoft.OpenApi.Extensions.OpenApiSerializableEx

[2017-11-22 19:39] #98 closed, assigned to nobody

[2017-11-27 14:42] darrelmiller opened #100 "Reference loading, the async challenge"
Currently the DOM is designed so that strong types such as OpenAPISchema can be marked as a reference.  This enables the model to know that these types are explicitly being re-used from the components collection.

Currently references are loaded immediately upon parsing a document so that references are always represented by the correct types and those instances contain all the referenced data.  T

[2017-12-01 18:38] #38 closed, assigned to nobody

[2017-12-01 18:39] #37 closed, assigned to PerthCharern

[2017-12-04 19:20] xuzhg opened #107 "Null reference exception for the Parameters in Operations"
When I sent the Parameters as "null", this line will throw exception:

https://github.com/Microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Models/OpenApiOperation.cs#L202

[2017-12-05 19:31] darrelmiller opened #108 "Make PathItem a referenceable object"
Path items can be referenced but they are a special case for a couple of reasons.
a) they don't have a home in components
b) the reference doesn't work like a normal JSON reference because peer properties in the target path item are not ignored, they are merged.

[2017-12-06 19:16] PerthCharern opened #109 "Fix Reader Unit tests"

[2017-12-06 19:33] PerthCharern opened #110 "Strong naming & authenticode sign"
estimate:

Strong naming 5 min

Authenticode not sure if possible. Can check OSS guideline. A day at most.

[2017-12-07 19:09] #14 closed, assigned to xuzhg

[2017-12-08 00:53] #107 closed, assigned to xuzhg

[2017-12-08 23:37] PerthCharern opened #112 "Reference in Discriminator.Mapping"
Discriminator.Mapping can contain string that refers to schema reference. Currently it's just string right now. We might be able to switch this over to something that leverages our Reference implementation. (similar to tag/security scheme)

[2017-12-09 01:49] PerthCharern opened #114 "Add [Collection("DefaultSettings")] to all test classes"
continuation from PR #113

I'll add the attribute [Collection("DefaultSettings")] in a separate PR to keep #113 reasonably sized.

[2017-12-09 01:50] PerthCharern opened #115 "Add the remaining unit tests for V2 and V3 deserializers"
Continuation of #109.

#109 (through PR #113) already sets the structure of how the tests can be written for both versions of the deserializers. The remaining job is actually going ahead and write the tests for each and every object.

[2017-12-11 15:46] #32 closed, assigned to PerthCharern

[2017-12-11 15:46] #50 closed, assigned to PerthCharern

[2017-12-11 15:46] #109 closed, assigned to PerthCharern

[2017-12-11 17:47] #110 closed, assigned to darrelmiller

[2017-12-11 19:03] darrelmiller opened #118 "Parsing V2 document with definitions fails due to null components"
Need to change collection objects to be empty by default and not render out when empty and optional

[2017-12-11 19:04] darrelmiller opened #119 "Upgrading from V2 to V3 leaves version number at 2.0"

[2017-12-11 19:05] darrelmiller opened #120 "Writing out components that are referenced, writes out $ref, not full object"

[2017-12-11 21:30] PerthCharern opened #123 "OpenApiAny vs primitive type inconsistency"
@darrelmiller @xuzhg

We have been using an OpenApiAny type (e.g. OpenApiString, OpenApiDouble) to represent strings, numbers, arrays, etc. in the property that can be of type OpenApiAny.

However, in other properties of a normal object, we simply use the C# primitive types like string, int.

This is semantically inconsistent in my opinion. An "Any" type in the spec simply means it can be anything

[2017-12-11 22:23] #119 closed, assigned to darrelmiller

[2017-12-11 23:27] #118 closed, assigned to darrelmiller

[2017-12-12 20:36] #26 closed, assigned to darrelmiller

[2017-12-12 20:55] PerthCharern opened #127 "Examples on how to use the library in README"

[2017-12-12 23:28] #120 closed, assigned to PerthCharern

[2017-12-13 00:42] #16 closed, assigned to PerthCharern

[2017-12-13 00:42] #114 closed, assigned to PerthCharern

[2017-12-13 08:08] PerthCharern opened #134 "Potential build issue"

[2017-12-13 14:45] #5 closed, assigned to nobody

[2017-12-13 17:54] PerthCharern opened #135 "Do we need to release fixtures?"
@darrelmiller I don't think we should release the fixtures folder with this repo. It has more to do with the spec itself. If we need some of these docs in the unit tests, we can include them directly there. What do you think?

[2017-12-13 19:04] #135 closed, assigned to PerthCharern

[2017-12-13 19:08] xuzhg opened #138 "Clean the build warning"
We have some build warning like:

warning CS1591: Missing XML comment for publicly visible type or member 'OpenApiConstants.OpenApi'
1>Models\OpenApiConstants.cs(15,29,15,33): warning CS1591: Missing XML comment for publicly visible type or member 'OpenApiConstants.Info'
1>Models\OpenApiConstants.cs(17,29,17,34): warning CS1591: Missing XML comment for publicly visible type or member 'OpenApiConst

[2017-12-13 19:32] #134 closed, assigned to nobody

[2017-12-13 22:11] PerthCharern opened #142 "How to stylize Open API"
@darrelmiller

I'm seeing from the spec repo that

Open API Initiative is written with a space between Open and API, but OpenAPI Specification doesn't have that space.

https://github.com/OAI/OpenAPI-Specification

Is this intentional? If so, I can update our README to follow the same styling.

[2017-12-13 23:48] PerthCharern opened #145 "Remove the VSTS build"
@xuzhg @robward-ms

Do we need both AppVeyor and VSTS builds for this repo? AppVeyor build is already Windows-based, so we are not getting additional coverage from VSTS.

[2017-12-13 23:52] #138 closed, assigned to xuzhg

[2017-12-14 00:10] #127 closed, assigned to EricAtMSFT

[2017-12-14 15:26] tomkerkhove commented on #145
Having something like AppVeyor will be great instead of VSTS since it does not allow externals to see the build failures.

If I would create a PR and it fails, I cannot fix it while with AppVeyor it will.
This is something I can pick up if you want help with it.

[2017-12-14 16:40] PerthCharern commented on #145
Tom,

Thanks for the offer but we already have both AppVeyor and VSTS set up. :)

Only AppVeyor status is blocking check-in, and VSTS is just for informational purpose only.

Perth

On Dec 14, 2017, at 07:26, Tom Kerkhove <notifications@github.com<mailto:notifications@github.com>> wrote:

Having something like AppVeyor will be great instead of VSTS since it does not allow externals to see the buil

[2017-12-14 22:15] PerthCharern commented on #145
@xuzhg @robward-ms I don't think you guys need build with every PR update though. How about we change VSTS to only get triggered with push?

[2017-12-14 22:31] xuzhg commented on #145
Ok. I turned off the PR trigger build

[2017-12-14 22:32] xuzhg commented on #145
@PerthCharern Can I close this issue?

[2017-12-15 00:35] PerthCharern opened #148 "Authenticode sign"

[2017-12-15 00:36] PerthCharern commented on #145
Sure

[2017-12-15 00:36] #145 closed

[2017-12-15 21:33] PerthCharernZero opened #149 "NuGet package needs a logo."

[2017-12-15 21:35] darrelmiller opened #150 "Create a OpenApiDocument.Serialize method"
We have a OpenApiWriterSettings class that allows you to define the desired format of the output description.  However, we don't actually use that currently.

Having to call SerializeV2 vs SerializeV3 is not very clean.

[2017-12-15 21:38] PerthCharernZero opened #151 "Handling body and form parameter reference for V2"
Currently the Reference Service for V2 translates any reference in "parameters" to an OpenApiParameter (with Reference being of type Parameter).

This is not necessarily true since the reference can also point to a request body object.

[2017-12-15 22:55] PerthCharern commented on #115
I understand the concerns now. Let's track this embedded file problem in a separate issue.

[2017-12-15 22:56] PerthCharern opened #156 "Embed the test YAML/JSON files into the DLL"
Stems out from #115

[2017-12-15 23:35] PerthCharern commented on #150
The methods below already exist in [OpenApiSerializableExtensions.cs](https://github.com/Microsoft/OpenAPI.NET/blob/4393e09cc1a93cd3a19d36bfce788c5c42575a0c/src/Microsoft.OpenApi/Extensions/OpenApiSerializableExtensions.cs). Would these work?

string version:
[code]

stream version:
[code]

[2017-12-15 23:37] darrelmiller commented on #150
Ahh, missed those.  I did think we had addressed this.  That the one challenge of extension methods.  I should fix the example to use that.

[2017-12-15 23:38] PerthCharern commented on #150
Oops sorry. I fat-fingered the close button. Didn't mean to close. :|

[2017-12-16 00:30] xuzhg opened #157 "Serialize the fields in the components without the reference"
@PerthCharern

I saw your change as below
https://github.com/Microsoft/OpenAPI.NET/commit/95c4b54d2d3fd615d9b2dbf92295aa23b2a2bf95#diff-91f82d686ea4bf00789d3381faa2475b

It will write the fix fields in the components without the reference if the component is reference. for example:

[code]

Then, if I serialize document as:
[code]

the `a` will have:

[code]

it should be:

[code]

[2017-12-16 00:31] xuzhg commented on #157
@darrelmiller

[2017-12-16 01:27] PerthCharern commented on #157
This is a bug :(

It is an issue only for the case when a component is referencing to another component right at the first level, so in most cases, it should be okay. It's a little unusual for a component to refer to another component right away - that basically means they are a copy of each other.

We will need to fix this, but I don't think we need to label this as urgent. Thoughts?

[2017-12-16 01:31] darrelmiller commented on #157
It's actually not that uncommon.  Whenever someone has a slightly different model for doing a create/update/reader, they will often create the common core as a component and then reference it from the operation specific models.  I will look into it over the weekend as I continue working on the external references work.

[2017-12-16 01:38] PerthCharern commented on #157
This issue is quite unfortunate. I am thinking of a way to distinguish how we should write out a component.

- If we see a Reference to itself
  - If the object (apart from the Reference section) is not empty, then just write the full object without $ref.
  - If the object (apart from the Reference section) is empty, then write this as $ref (This is Sam's example above.)
- If we see a Reference to

[2017-12-16 01:52] darrelmiller commented on #157
Oh, I didn't notice it was only at the top level.   That only happens where someone wants to create a local reference to a remote reference.  That's much less common.

[2017-12-16 02:04] darrelmiller commented on #157
@PerthCharern I don't think you can write a full object if the schema just contains a reference to another object.  That wouldn't work if it was an external reference.

Sam's example isn't a reference to itself.  It is the "Edm.Geography" component, pointing to the "Edm.Geography" component.

I think if the reference is to itself then you can write the full object.

[2017-12-16 02:09] PerthCharern commented on #157
I made a typo in my original suggestion:

It now reads:

- If we see a Reference to another object (This is the case Darrel and I mentioned above)
  - Always write as $ref

And yes, I totally misread Sam's example (good thing I believe, so I could think of the edge case). In this case, Sam's case would be a Reference to another object. For this, we can default to writing a $ref.

[2017-12-16 02:18] PerthCharern commented on #157
I don't think we can always write full object if it references to itself.

Consider the example below.

[code]

In this case, we need to write the $ref since that's what is given to us. This allows us to ensure that if the following string is given to our library in the components section, we can serialize it back to the same thing:

[code]

If there are any properties in the object like below, th

[2017-12-16 02:49] darrelmiller commented on #157
@PerthCharern

If you have:

[code]
Why wouldn't you write it as:
{
  "schemas":
  {
    "X":    {    }
  }
}

Writing out a self-referencing component seems like a recipe for a stackoverflow.

The way you initially configured the object is exactly how regular schema objects are going to appear if they are read in from a file.  I don't see a reason for doing something different just because it was

[2017-12-16 02:56] PerthCharern commented on #157
As much as I don't understand why one would write the document below, it is fully supported by the spec. In that sense, our library should be able to parse this into an object and be able to serialize it back to the original string (if we choose the same format and version). At least that would be my expectation as a user.

[code]

If we write it with empty object, then it seems to me like we are

[2017-12-16 03:00] PerthCharern commented on #157
And for the second point, I think I was unclear. I am all for being agnostic to the way the object was constructed. I was giving a couple of examples of what that object could possible mean to illustrate my point that any component with a property that's not Reference should ALWAYS be written as a full object in Components.

[2017-12-16 03:12] PerthCharern commented on #157
All that said, this is where our model is ambiguous, isn't it?

[code]

This can be constructed from either:

1.

[code]

or 2.

[code]

Where `#/components/schemas/X` is referred to somewhere in the document.

If we just have the .NET object, we have no idea whether to serialize it to 1 or 2.

Maybe we need to change the way we deserialize referenced object, so that we don't hit this ambiguity. I

[2017-12-16 03:12] darrelmiller commented on #157
@PerthCharern I don't think we should make our lives difficult to support a construct that has no value.  Having a root level reference that points to itself makes it impossible to implement any other properties in the schema.  Therefore it is functionally identical to an empty schema.

[2017-12-16 03:17] PerthCharern commented on #157
That's fair. I can totally live with that :)

To summarize, I think the rule below captures what we need to support in Components:

- If we don't see any reference, write full object. (Already supported)
- If we see a Reference to itself, write the full object without $ref. (Already supported)
- If we see a Reference to another object, always write as $ref (This needs work.)

Does this match your

[2017-12-16 03:31] darrelmiller commented on #157
This makes sense to me.

[2017-12-16 19:14] PerthCharern opened #159 "Updates needed to support v3.0.1 (and future patches)"
1. I did a diff from 3.0.0 to 3.0.1 and didn't see changes to the model itself, so there shouldn't be any major deserialization/serialization needed in this library.
2. Recognize 3.0.1 in the openapi field in the OpenAPI Object. It can still use all the existing V3 deserialization logic.
3. Create new enum value OpenApi3_0_1. (I'm going back and forth about this. This last number is simply a patch

[2017-12-18 02:34] darrelmiller commented on #159
It should be rare that we need to make a change for a patch release.  It might be worth updating the output version number once we have review the patch and determined that we are still compatible.
I don't think we need to enumerate patch versions.  The plan is to release a patch at the beginning of each month incorporating corrections that were incorporated in the previous month.  We don't want t

[2017-12-18 17:50] PerthCharern commented on #159
If we only write the latest patch number, I wonder if our customers would face issue with other tools that may not be updated as often. (Say we output the version string "3.0.1" now, but some tools may still recognize only "3.0.0")

I understand that ideally tools are supposed to support the latest patch, but I'm not sure how reality would hold up.

[2017-12-19 19:32] #159 closed

[2017-12-20 19:43] xuzhg commented on #157
@PerthCharern @darrelmiller

I updated to beta009, this problem is still there. So, it's not fixed, Right?

[2017-12-20 19:55] PerthCharern commented on #157
Correct, this has not been fixed.

[2017-12-21 18:45] xuzhg commented on #156
@PerthCharern @darrelmiller Please review #164. Thanks.

[2017-12-29 01:39] abaka-spn opened #165 "Nuget package cannot be include in net45 project"
I use vs2017 and I want include your package in my net45 project by nuget manger.
It's not possible because the target framework is not referenced in nuget package.
Is it possible to include this framework ?

[2017-12-30 02:49] PerthCharern commented on #165
Is it possible for you to upgrade your .NET framework to 4.6 or higher? net45 is quite old and the official support for it has ended in 2016.

We can try checking next week if there's any compatibility or maintenance issue with the code if we were to use net45.

[2017-12-30 17:47] abaka-spn commented on #165
Thanks for your reply.
I want to expose custom PowerShell (v5) modules (psm1 files) via a REST API with the openapi specification. The PS modules are written by our system administrator or application manager. The prerequisite for PowerShell v5 is net45. That's why I want to use net45 in my project. This will facilitate deployment on all our servers. For the moment, I downloaded your source code a

[2018-01-03 00:25] PerthCharern commented on #165
I have done some testing and found the following issues:

- VS 2017 doesn't support net45 out of the box. It only supports net452.
- Our unit test runs seem to run into a lot of issues against net452.

Given these issues and the fact that net45 is relatively old (and no longer supported), we regrettable won't be able to support net45. The cost to set this up along with maintenance cost will be too

[2018-01-03 18:51] PerthCharern commented on #165
I'll close this for now. Please reopen or open a new issue if you have other concerns or requests.

[2018-01-03 18:51] #165 closed

[2018-01-03 18:55] xuzhg commented on #156
Merged at https://github.com/Microsoft/OpenAPI.NET/pull/164. Thanks!

[2018-01-03 18:55] #156 closed

[2018-01-03 19:32] PerthCharern opened #166 "Evaluate whether current implementation for RuntimeExpression is sufficient"

[2018-01-03 19:33] xuzhg commented on #166
https://swagger.io/specification/#runtimeExpression

[2018-01-03 19:34] darrelmiller opened #167 "Design what is needed for pluggable strongly typed extensions that can be validated"

[2018-01-03 19:34] PerthCharern commented on #166
Let's create unit tests for this.

[2018-01-04 04:55] #157 closed

[2018-01-04 05:11] darrelmiller opened #170 "Consolidate Exception and Error classes"
We have an OpenApiException class in the Model project.  We have a OpenApiError class in the reader project for capturing syntax errors while reading the document and doing some validation that currently overlaps with the validator.  And finally we have ValidationError that has a type that distinguishes between Format errors and Required errors.

I'd like to suggest we clean this up a bit.  Perhap

[2018-01-04 17:51] xuzhg commented on #166
Merged the PR #168. Thanks.

[2018-01-04 17:51] #166 closed

[2018-01-10 00:34] scott-lin opened #172 "No simple way to convert formats while keeping OpenAPI spec version the same"
I'd like to simply convert between `OpenApiFormat` while keeping `OpenApiSpecVersion` the same across the conversion, however, there is no way of doing this that avoids me having to parse the `OpenApiSpecVersion` from the string payload myself.

For example, below is some basic code to demonstrate the scenario and issue. In this example, we'd be converting YAML string -> OpenApirDocument model ->

[2018-01-10 01:14] darrelmiller commented on #172
We would need to add a property to the OpenApiDiagnostic object to store the "detected input version".  This could then be used to select the output format.  I'm not sure how to make that completely transparent though.

[2018-01-10 18:53] scott-lin commented on #172
I like the idea. I don't like the name of OpenApiDiagnostic since not all of the data is "diagnostic" data. OpenApiMetadata might be better since it's data that helps describe the OpenApiDocument generated.

Also, what do you mean by, "I'm not sure how to make that completely transparent though"?

[2018-01-10 19:42] darrelmiller commented on #172
@scott-lin I mean that you would need to take the value from the "diagnostic" object and the pass it into the Serialize method manually.
I'm not a big fan of the name diagnostic either but metadata is not much better.  We need a word that means meta-results but is less ugly.

[2018-01-10 20:21] PerthCharern commented on #172
Maybe something like OpenApiReaderMetadata / OpenApiReadingMetadata since it's a metadata of the reading process?

[2018-01-10 23:48] PerthCharern opened #174 "Clean up the "validations" in the Reader once the real Validator is complete"
- Once the validator is complete, we should move the "validation" logic remaining in the reader to the Validator.

- Reader can call the Validator as its last step and return the errors in the OpenApiDiagnostic. @scott-lin

[2018-01-10 23:58] scott-lin commented on #172
I will start coding the fix we all have agreed on (parse the version from the document as an `OpenApiSpecVersion` and assign it as a property on `OpenApiDiagnostic`).

[2018-01-11 01:57] #172 closed

[2018-01-12 23:09] darrelmiller commented on #174
I already started doing some of that in one of my PRs.  There still be some validation in the reader in the cases where the YAML/JSON is not the expected format, but I have removed all the required checks.

[2018-01-13 00:45] scott-lin opened #177 "Throw exception when document's spec version is not recognized by Reader"
The Reader code makes a "best effort" to deserialize the document as the latest spec version, V3 as of writing this issue, when the version number is not recognized. Instead, I would like the Reader to thrown an unsupported spec version exception.

[code]

As a consumer of the Reader, I do not trust the Reader to parse a document it does not offer support for yet. For example, in the future, I cou

[2018-01-13 01:26] PerthCharern commented on #177
Makes sense to me. Could you submit a PR? :)

On Jan 12, 2018, at 16:45, Scott Lin <notifications@github.com<mailto:notifications@github.com>> wrote:

The Reader code makes a "best effort" to deserialize the document as the latest spec version, V3 as of writing this issue, when the version number is not recognized. Instead, I would like the Reader to thrown an unsupported spec version exception.

[2018-01-13 07:59] scott-lin commented on #177
Yeah, I'm happy to (not sure how issues get triaged and approved in this work stream yet. I'll sync with you on Tuesday regarding that).

[2018-01-13 08:01] scott-lin commented on #177
Also, if this default "best effort" case is not implemented for a particular reason, I plan on removing it and throwing an exception with no "option to force" the current behavior. If you feel otherwise, please let me know and why.

[2018-01-13 17:36] darrelmiller commented on #177
My initial reaction was that we should do best effort on 3.x but fail on 4.x but after thinking some more, I agree that we should just fail on a version that is higher than 3.0.x.  I don't think we can fail on a higher patch version.

[2018-01-16 09:06] talamram opened #178 "Produces/consumes in V2"
Currently consumes label is not affecting the body content in the reader.
for example:

/uploadImage": {
			"post": {
				"tags": ["image"],
				"summary": "uploads an image",
				"description": "",
				"operationId": "uploadFile",
				"consumes": ["multipart/form-data"],
				"produces": ["application/json"],
				"parameters": [{
					"name": "Id",
					"in": "path",
					"description": "ID to upd

[2018-01-16 09:40] talamram opened #179 "formData parameter in V2 is not supported"
Parameters in formData are ignored by the reader.

fot example:
[code]

is ignores the parameter

[2018-01-16 14:46] darrelmiller commented on #178
Thanks for the feedback.  We will investigate.

[2018-01-16 15:05] darrelmiller commented on #179
Can you tell us a bit more about what you would expect to happen here?  The `consumes` property says 'application/xml' which is not compatible with supporting formData parameters.  Would you expect a multi-part form with one part formData and the other part xml?  Are you currently using tooling that does this?  As far as I know, the specification doesn't explicitly allow this.

[2018-01-16 15:49] darrelmiller commented on #150
Updated readme.

[2018-01-16 15:49] #150 closed

[2018-01-16 15:51] darrelmiller commented on #123
Based on the work done around extensions, I think OpenApiAny should remain as a simple way to allow folks who want strongly typed extensions to deserialize JSON/YAML via an OpenApiAny dom.  I think we can close this issue.

[2018-01-16 15:52] darrelmiller commented on #167
PR #171 and #176 address this.

[2018-01-16 15:52] #167 closed

[2018-01-16 15:56] darrelmiller commented on #91
This cycle has now gone.  The ParsingContext determines the version using the RootNode and then loads the appropriate VersionService (replacement for ReferenceService).

[2018-01-16 15:56] #91 closed

[2018-01-16 18:52] PerthCharern commented on #123
I agree. I don't see a way out of using OpenApiAny. We'll keep it.

[2018-01-16 18:52] #123 closed

[2018-01-16 23:03] #177 closed

[2018-01-17 04:08] partychen opened #182 "parse will throw stack overflow"
for example, i am trying to parse https://github.com/Microsoft/OpenAPI.NET.OData/blob/master/docs/oas3_0_0/graph.beta.json, and it will throw stack overflow.

[2018-01-17 12:58] talamram commented on #179
Yes you right, "application/xml" in the consumes property should not be supported with formData parameters, but even when I tried to change the consumes property to be "application/x-www-form-urlencoded", the reader still ignored the formData parameters

[2018-01-17 17:45] darrelmiller commented on #182
Thanks for the report.  We will investigate.

[2018-01-19 05:07] partychen commented on #182
I give a detail here , if we have **circular reference** in the definition, it can be easy reproduced. So hope you can resolve this issues.

microsoft.graph.schemaExtension:
    allOf:
      -
        title: "schemaExtension"
        type: "object"
        properties:
          description:
            type: "string"
            nullable: true
          targetTypes:
            type: "array"

[2018-01-19 06:02] xuzhg commented on #182
@PerthCharern @darrelmiller Would you please take a look?

[2018-01-19 14:01] darrelmiller commented on #182
@xuzhg Working on a fix now.

[2018-01-19 18:39] PerthCharern commented on #179
From a quick look at the code, it seems like we recognized the wrong keyword ("form" instead of "formData"). I will take a look a bit more and fix this.

[2018-01-19 21:02] PerthCharern commented on #178
There is a typo in the code. I'll fix this.

[2018-01-22 19:27] #178 closed

[2018-01-22 19:27] #179 closed

[2018-01-23 11:47] danyx23 opened #187 "Walker service should walk schemas recursively"
I may misunderstand what the walker is going to be used for or how it works, but it seems to me that currently the nested contents of a schema node is not visited (e.g. if it is an object (Properties field) or array (Items field)). I would like to implement some logic that would need to visit all nested schema nodes. Do you agree that this is desirable? If so I could submit a pull request to add t

[2018-01-23 18:27] PerthCharern commented on #187
Good catch! It looks like an oversight to me. Please feel free to submit a PR.

[2018-01-23 21:25] PerthCharern commented on #187
Also, just FYI, PR #176 contains a lot of changes to the Walker. (Given that the Schema part you mentioned is not edited in that PR, you probably won't get into any conflicts anyway.)

[2018-01-24 19:37] danyx23 commented on #187
Cool, I'll prepare a PR, will take a few days though because I am travelling. There are no unit tests yet, correct?

[2018-01-24 21:20] PerthCharern commented on #187
There are some validator unit tests as part of #176 but they are far from complete. You can add a few more or modify the tests in #176 to also verify your changes.

cc @darrelmiller

[2018-01-25 23:44] PerthCharern opened #191 ""formparameters" temp variable must be cleared after each operation is processed"

[2018-01-25 23:45] PerthCharern opened #192 "Handle empty URI when reading"

[2018-01-26 00:31] PerthCharern opened #193 "Header serialization in V2 is incorrect. Header in V2 parallels Schema object, not Parameter object."

[2018-01-26 00:38] PerthCharern opened #194 "Some property missing from V2 Parameter deserializer (e.g. multipleOf)"

[2018-01-26 00:42] PerthCharern opened #195 ""type" in a schema can be array in V2 but must be a string in V3."
We currently read type as a scalar, which means that we encounter an error when reading V2 doc with type being an array e.g. [ "string", "null" ] https://api.apis.guru/v2/specs/figshare.com/2.0.0/swagger.json

I don't see a way to maintain all the info in V2 in V3 doc. Should we arbitrarily choose the first type in the array to keep in the model?

That would mean reading a V2 doc and then serializ

[2018-01-26 02:37] PerthCharern opened #196 "additionalProperties can be either boolean or OpenApiSchema"

[2018-01-26 04:24] sergey-tihon commented on #191
Schema
https://api.apis.guru/v2/specs/synq.fm/1.9.1/swagger.json

Stack Trace
[code]

[2018-01-26 04:32] sergey-tihon commented on #192
Schemas
- https://api.apis.guru/v2/specs/azure.com/storageimportexport/2016-11-01/swagger.json

Stack Trace
[code]

[2018-01-26 04:56] sergey-tihon commented on #182
More samples with Stack Overflow:
- https://api.apis.guru/v2/specs/amazonaws.com/ssm/2014-11-06/swagger.json
- https://api.apis.guru/v2/specs/amazonaws.com/ce/2017-10-25/swagger.json
- https://api.apis.guru/v2/specs/amazonaws.com/elasticmapreduce/2009-03-31/swagger.json
- https://api.apis.guru/v2/specs/azure.com/recoveryservicessiterecovery-service/2016-08-10/swagger.json
- https://api.apis.guru/v

[2018-01-29 05:35] darrelmiller commented on #195
@PerthCharern That's not a valid V2 document because `null` is not a supported type in OpenAPI V2 or V3.  I didn't realize that V2 actually allowed type to be an Array.  If we want to support this scenario then we would need to construct a `anyOf` or `oneOf` to support the variance.
We could be really nice and convert the array including null to set the new 'nullable' property to true.  Then we wo

[2018-01-29 05:37] darrelmiller commented on #187
@danyx23 Thanks for the report.  This is fixed in PR #176

[2018-01-30 20:00] PerthCharern commented on #192
- Reader will accept both relative and absolute URIs

- Validator will make sure XML.Namespace contains absolute URIs

[2018-01-30 20:04] PerthCharern opened #198 "Different rules for V2 and V3"
@darrelmiller

There are places where the V2 and V3 specs may be slightly different. For example, V2 doesn't enforce XML.namespace to be absolute URI.

It seems to me that we may need different rulesets per version. Most default rules will be shared, but certain rules only belong to certain versions of the spec.

[2018-01-30 20:16] PerthCharern commented on #195
- Could you point me to the restriction on the type string in the spec? I thought type string only follows the JSON schema spec, in which case "null" is a valid type.

- The nullable one is a good idea.

- We can use anyOf to translate a schema with multiple types to a schema with anyOf array pointing to multiple schemas. One interesting problem we will have is the reverse direction (i.e. writing

[2018-01-31 11:53] joelwkall opened #199 "Float and Double values cannot be used where an IOpenAny is expected (JSON V3)"
### Summary
For example in the Example property, we need to convert any float or double to OpenApiFloat or OpenApiDouble, respectively.

However, when serializing, only "decimal" is accepted as a floating point type, but there is no OpenApiDecimal.

### Reproduction
Create a OpenApiSchema, set the Example property to new OpenApiDouble(5.5) or equivalent. Serialize the schema with V3 and JSON forma

[2018-01-31 20:40] PerthCharern opened #201 "Rule "name" should be saved in Validation Error"
Currently validation error is just a group of strings that are loosely tied to the rule name itself. We should save the rule name itself into the error.

[2018-01-31 23:55] PerthCharern commented on #199
Thanks @joelwkall for catching this, and for the thorough analysis of the issue!

This is indeed a problem, and I agree either of your suggested solution should work.

- I think 2 should be done regardless, so that these C# primitive types can be serialized. People might bring these primitive types into their custom extensions.

- I am also thinking we should
   - only have one OpenApiDecimal type

[2018-02-01 02:02] darrelmiller commented on #182
@partychen Hopefully by Friday.

[2018-02-01 04:09] partychen commented on #182
@darrelmiller  will you release a beta version for this fix?

[2018-02-01 12:38] joelwkall commented on #199
I can take a look.

There is also OpenApiLong which is probably superfluous since there is only one integer type in the OpenApiSpec. Are there more unnecessary types?

[2018-02-01 19:34] jblazek opened #203 "Null reference OpenApiStreamReader with #/components/headers OAS v3"
I have a OAS V3 yaml file that contains a list of headers in the components section.

I've checked the spec and other validators to ensure what I have is the correct format, but loading my file through `OpenApiStreamReader` it throws a null reference exception.  Putting the headers under the response was did not have this issue, and adding an example field in the components/headers schema did not

[2018-02-01 19:50] PerthCharern commented on #199
I would agree with you. I think the original idea was that we tried to mimic this data table:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#data-types

I don't think that makes much sense given how we are using the OpenApiAny types. I'd say we should more closely align with the C# types.

In that sense, I think we can also get rid of: Long, Password, Binary, (and poss

[2018-02-02 00:06] xuzhg commented on #78
@darrelmiller @PerthCharern I think I can close it now. right?

Please feel free to re-open it if you have any further concern.

[2018-02-02 00:06] #78 closed

[2018-02-02 04:39] darrelmiller commented on #203
@jblazek Thanks for the heads up.  Looks like we are missing a bunch of those null reference checks.  I'll get those fixed.

[2018-02-02 04:48] darrelmiller commented on #198
@PerthCharern This comes back to parsing errors verses validation.  Once we are loaded into the DOM we are no longer V2, we are V.Current.  If the we can't make it V3 compliant then I think we have to reject when parsing, or flag it with our validation errors.  Anyway, I'm pretty sure a namespace URI can't be relative anyway.  At least I can't say I've ever seen a relative namespace.

[2018-02-02 04:50] darrelmiller commented on #195
@PerthCharern It's not really clear in the spec.  However, I talked to Ron Ratovsky who was the editor for the 1.2 and 2.0 spec and as far as he is concerned, type as an array has never been supported. The Swagger tooling doesn't support it, so I don't think we need to.

[2018-02-02 04:51] darrelmiller commented on #195
And regarding merging to anyOf when downcasting, I agree.  We should try and do that.

[2018-02-02 04:52] darrelmiller commented on #201
I'll address this when I take care of #170

[2018-02-02 09:20] joelwkall commented on #199
Allright, seems fair.

However, removing a bunch of IOpenApiAny types seems likely to break a lot of stuff and is frankly beyond my familiarity with the SDK. Do you think it would be valuable if I just submit a PR where the serializer accepts all the currently present IOpenApiAny types, to at least resolve the issue at hand?

[2018-02-02 21:33] darrelmiller commented on #182
@partychen Yes we will.  I'm not going to make it today, but progress is good.  I'll ping you on Monday.

[2018-02-04 16:00] talamram opened #204 "Wrong proprties when parsing formData parameters"
I get wrong proprties in the schema object when I try to parse actions with "formData" parameters (V2)

"post": {
				"summary": "Updates",
				"description": "",
				"operationId": "update",
				"consumes": ["application/x-www-form-urlencoded"],
				"produces": ["application/xml",
				"application/json"],
				"parameters": [{
					"name": "Id",
					"in": "path",
					"description": "ID",
					"r

[2018-02-04 16:56] darrelmiller commented on #204
Thanks for the report. We will investigate.

[2018-02-05 09:14] hellosnow commented on #182
@darrelmiller looking forwards to the updates. We're testing against graph team's OpenAPI before a up-coming deadline but are blocked by this issue. Therefore we need to remove the recursive reference manually every time we tested. Please let us know once it's fixed, or how we can help on that. Thanks! 😄

[2018-02-05 19:10] darrelmiller commented on #203
This will be fixed in a PR that should come in the next few days,

[2018-02-05 19:27] PerthCharern commented on #199
I think that's fair. Please feel free to send out that PR and we'll take a look :)

[2018-02-05 19:29] PerthCharern commented on #198
Same effect can be achieved by adding or removing rules from the default set when validating, so we'll close this for now.

[2018-02-05 20:15] PerthCharern commented on #195
I'll create a new issue for the merging of anyOf and close this one.

[2018-02-05 20:16] PerthCharern opened #205 "Try to merge schemas in anyOf to a schema when serializing as V2 if possible"
Stemmed from #195.

[2018-02-05 20:16] #195 closed

[2018-02-05 20:21] PerthCharern commented on #149
We have the logo now. I'll upload it when I can.

[2018-02-06 00:07] PerthCharern opened #207 "WriteOptionalMap (and others) should be able to write primitive types"
WriteOptionalMap (and others) should be able to write primitive types

For example,

It should be able to handle writing IDictionary<string, int>instead of forcing people to use  IDictionary<string, IOpenApiInteger>

This matters because people can use these functions to specify how to serialize an IOpenApiExtensions.

[2018-02-06 01:20] Shwetap05 opened #208 "JSON V2 - Required property can not be marked as read only"

[2018-02-07 22:29] scott-lin opened #210 "NullReferenceException when definitions value is null"
I realize the example below violates the spec for a couple reasons: (1) I've omitted required sections entirely in order to highlight the issue area, and (2) null value for definitions are not allowed. However, the OpenAPI.NET library should not throw NullReferenceException in any scenario.

**Trimmed down example**
[code]

**NullReferenceException**
[code]

[2018-02-08 02:30] darrelmiller commented on #210
With my latest PR your example gives me:

I suspect it is related to the way reference loading has changed

[2018-02-08 10:06] talamram opened #212 "RequestBody.Content is not updated properly"
in V2

When I don't have a consumes property, I get the content of the previous action.
for example:

/pet/{petId}/upload: {
	post: {
		summary: "uploads an image",
		description: "",
		operationId: "uploadFile",
		consumes: ["multipart/form-data"],
		produces: ["application/json"],
		parameters: [{
		{
			name: "file",
			in: "formData",
			description: "file to upload",
			required: false,
			ty

[2018-02-10 00:45] Shwetap05 commented on #208
Fix checked in.

[2018-02-10 00:45] #208 closed

[2018-02-14 18:28] jjohs commented on #182
@darrelmiller  Any progress update/ETA on this issue?  Thanks

[2018-02-14 21:14] darrelmiller commented on #182
@jjohs Yes the fix was merged in yesterday and the latest beta nuget has the fix.

[2018-02-14 21:14] #182 closed

[2018-02-14 21:15] darrelmiller commented on #210
Latest release resolves this issue.

[2018-02-14 21:15] #210 closed

[2018-02-15 00:14] darrelmiller commented on #212
Ah.  Thanks.  I was able to repro this.  I will fix it.

[2018-02-15 00:46] PerthCharern commented on #212
@darrelmiller @talamram PR #197 should solve this issue. I ran the example above and `consumes` from the first operation is not used in the second operation now.

There's a different issue I see from the example above: Without `responses`, there's no place to save the `produces` array, so the example above as is will yield a missing `produces` array. However, `responses` property is required by th

[2018-02-15 00:50] PerthCharern opened #214 "Rule in OpenApiResponsesRules is too restrictive."
Spec (both V2 and V3):

The Responses Object MUST contain at least one response code, and it SHOULD be the response for a successful operation call.

Our rule:

Responses must contain success response

What I think we should do:

Just check that there is one response. We don't have the capability for the SHOULD type of rule right now.

[2018-02-15 00:52] PerthCharern commented on #187
Closing. Please feel free to send a follow-up PR or re-open if you still see any issues with the current Walker.

[2018-02-15 00:52] #187 closed

[2018-02-15 04:10] darrelmiller commented on #214
And there we have justification for creating the notion of a Warning when doing validation :-)

[2018-02-15 21:07] #191 closed

[2018-02-15 21:24] PerthCharern commented on #57
This is handled in #215 as a validation rule

[2018-02-15 21:24] #57 closed

[2018-02-15 23:06] #214 closed

[2018-03-07 15:37] talamram opened #216 "Path paramters reference"
When path paramter value is referenced to to parameter component, the values inside the OpeanApiParamter (name, in, description, etc) are all null.

fot example:

{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://www....com/v3"
    }
  ],
  "info": {
    "title": "title",
    "description": "description",
    "version": "v3"
  },
  "paths": {
	"/activities": {
		"get" : {...},
		"

[2018-03-08 09:06] xuzhg opened #217 "Write V2 for the repsonse with example value in its content"
For example:
See the code at:
https://github.com/Microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Models/OpenApiResponse.cs#L144

because the type of "mediatype.Value.Example" is **IOpenApiAny**, It will throw exception.

`
The type 'Microsoft.OpenApi.Any.OpenApiString' is not supported in Open API document.'
`

[2018-03-08 15:21] darrelmiller opened #219 "AdditonalProperties is not parsed as a boolean"
It currently assumes that it is a schema.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#schema-object

[2018-03-08 15:34] darrelmiller commented on #216
Looks like parameters at the path level are not being resolved by the ReferenceResolver.  It is probably missing in the walker.  I will fix that.  Thanks!

[2018-03-08 15:55] darrelmiller commented on #212
We have a rule for ensuring there is at least one response.

[2018-03-08 15:55] #212 closed

[2018-03-08 15:58] #203 closed

[2018-03-08 15:58] darrelmiller commented on #219
Duplicate

[2018-03-08 15:58] #219 closed

[2018-03-08 16:02] #199 closed

[2018-03-08 16:04] darrelmiller commented on #204
Fixed.

[2018-03-08 16:04] #204 closed

[2018-03-09 01:46] xuzhg commented on #217
Merged. Thanks.

[2018-03-09 01:46] #217 closed

[2018-03-12 03:16] partychen opened #222 "openapi, Security parse issue: openApiSecurityScheme.Flows will always be null."
for example, parse below content of security,  the flows will be always empty. And in the v1.0.0-beta012 it works, but in v1.0.0-beta014 it was broken.

[code]

[2018-03-12 23:49] Shwetap05 opened #223 "String reader diagnostic error when description is empty for a response"
OpenApiStringReader.Read throw below diagnostic error when description is empty for a response:
"The field 'description' in 'response' object is REQUIRED."

Per Specification description is required, does it mean it should not be empty too? b/c the document loads fine in swagger editor without any schema failures.

Sample Json:

{
  "openapi": "3.0.1",
  "info": {
    "title": "test",
    "version

[2018-03-13 23:43] Shwetap05 opened #224 "Surface serialization errors from Writer"
In V3, for parameters headers/path/query a custom object can be used to define the schema but in V2 it must be one of "string", "number", "integer", "boolean", "array" or "file".

So when serializing a V3 document with custom type to V2, if type can't be mapped to simple types, its not included in spec, which makes spec as not valid and also there is no diagnostic information around this for consu

[2018-03-14 01:29] darrelmiller commented on #224
I suggest that we map it to string and possibly we could include the schema in an x-schema property.  This is also one of the reasons I want to consider having both warnings and errors.

[2018-03-14 17:55] darrelmiller commented on #223
If empty was allowed the requirement for it to be required would be pointless.

[2018-03-14 22:47] Shwetap05 commented on #224
Ok, will let this issue be open to track changes needed in diagnostics to report warning. Will be opening a separate for mapping to string.

[2018-03-14 22:48] Shwetap05 opened #225 "V2 Seriazlizer: Map custom type for headers/path/query to string"
In V3, for parameters headers/path/query a custom object can be used to define the schema but in V2 it must be one of "string", "number", "integer", "boolean", "array" or "file".

So when serializing a V3 document with custom type to V2, custom type should be mapped to string.

[2018-03-16 22:41] scott-lin opened #227 "Reading and serializing document without modification results in different document"
The repro below reads an OpenAPI V2 document and spits it back out as V2 JSON. The resulting document is not the same and is invalid (GETs shouldn't have a body).

Namely, the output document has a parameter on the GET /v2/openApiDocuments operation that doesn't exist in the input document.

          {
            "in": "body",
            "name": "body",
            "description": "The Swagger d

[2018-03-16 23:33] darrelmiller commented on #227
Thanks @scott-lin I will investigate

[2018-03-18 13:28] brooksyott opened #228 "Parsing "examples" fails"
If you use the keyword "examples:", either in JSON or YAML, it fails.
In the case of YAML, an exception is thrown.
In the case of JSON,

Cannot create map at #/paths//smsmessaging/{apiVersion}/{userId}/inbound/subscriptions/get/responses/200/content/examples

and it omits it from the conversion.

I used the OpenAPI workbench to validate my findings.

Sample JSON that fails below:

{
  "openapi": "

[2018-03-18 15:28] darrelmiller commented on #228
Hey @brooksyott , thanks for the taking the time to report the issue.  The problem you are running into is that the `examples` property in a media type object is a [map](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#mediaTypeObject) and not an array.   This was changed from v2, where it used to be an array.  Also, now the [examples object](https://github.com/OAI/OpenAP

[2018-03-18 17:15] brooksyott commented on #228
Perhaps I gave a bad example. I may still be misunderstanding as well.

I believe from the openApi page on Swagger:
_https://swagger.io/docs/specification/adding-examples/_

The following should work:

[code]
When I put that into the workbench (or use the library), I get:
_Failed to parse input: Unable to cast object of type 'Microsoft.OpenApi.Readers.ParseNodes.MapNode' to type 'Microsoft.OpenApi

[2018-03-18 17:18] darrelmiller opened #229 "When reporting structural errors in the document we should reference appropriate place in the spec"

[2018-03-18 17:22] darrelmiller commented on #228
@brooksyott Yes, your example above should work.  There is an error in the library.  I will get that fixed ASAP.  Thanks for the heads up.
The reason it works when you change to `example` is because we accept any structure under example, but that is not what you are trying to do in this case.

[2018-03-18 17:26] brooksyott commented on #228
Really appreciate the quick response, thank you!!

[2018-03-19 20:33] #228 closed

[2018-03-20 01:02] #222 closed

[2018-03-20 01:02] #216 closed

[2018-03-20 02:36] darrelmiller commented on #227
@scott-lin I'm not able to repro this.  I know @PerthCharern fixed a related bug a month ago and I just check and that fix is not in -beta014.

[2018-03-20 05:35] scott-lin commented on #227
Ok, even better if it's already fixed, just not published. Can a new nuget be pushed with the fix?

[2018-03-21 01:34] #151 closed

[2018-03-23 21:25] scott-lin commented on #227
This specific issue is now fixed with the latest nuget package release.

[2018-03-23 21:25] #227 closed

[2018-03-23 21:45] scott-lin opened #233 "Reading and serializing petstore V2 produces erroneous document"
**OpenAPI.NET Version**
1.0.0-beta015

**Repro:**
1. Grab the Petstore document from http://petstore.swagger.io/v2/swagger.json
2. Paste it into https://editor.swagger.io/ and observe there are no errors.
3. Run the Petstore document through OpenAPI.NET (read/serialize).
4. Paste it into https://editor.swagger.io/ and observe there are errors.

**Bugs:**
1. The errors called out in the Swagger Edi

[2018-03-24 00:08] PerthCharern commented on #233
Thanks @scott-lin

I'll take a look at this next week.

[2018-03-24 02:17] darrelmiller commented on #233
@PerthCharern The security related issues are just casing issues.  It's `oauth2` not `OAuth2`.  The `in` property should be `header` instead of `Header`.
The problem with the header object is we are creating a schema object.  We need to hoist up format and type like we do for parameters.  Should be an easy fix.  Thanks for the detailed report @scott-lin

[2018-03-29 20:01] darrelmiller commented on #142
It has been fixed. The Governing board approved removing the space in OpenAPI Initiative. :-)

[2018-03-29 20:01] #142 closed

[2018-03-29 20:03] darrelmiller commented on #223
Currently the spec is interpreted as empty satisfies the requirement.  This is a topic for next week's meeting to decide if this needs to change for properties like `name`.  https://github.com/OAI/OpenAPI-Specification/issues/1516

[2018-03-29 20:57] epet opened #234 "uuid attaching min and maxlength properties misinterpreted by code gen tools"
When converting v3 documents to v2, it's adding/keeping maxLength and minLength properties:
            "format": "uuid",
            "maxLength": 36,
            "minLength": 36
that cause issues with existing tools applying length checks to Guid which is not a valid property for the primitive. Recommendation is to drop min and max length for uuid format.

[2018-03-29 23:09] epet commented on #234
@darrelmiller, I found the block of code where the bug is in the comment reader. disregard.

[2018-03-29 23:09] #234 closed

[2018-04-05 22:54] PerthCharern commented on #233
(also posted in #236).  @darrelmiller

There are a couple of issues that are not fixed in #236:
1) Typo SpaceDelimited vs PipeDelimited
2) You checked for parameter location type "Query", but another parameter location type "Cookie" should also work

[2018-04-06 22:43] scott-lin commented on #223
@darrelmiller, curious what the reasoning was to allow empty string for these fields when they say "Required" in the spec. As your original comment suggested, it's seemingly "pointless".

If this stands, the documentation is arguably ambiguous ([Response description for example](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#responseObject)) in my opinion.

[2018-04-08 04:04] #233 closed

[2018-04-08 04:06] #225 closed

[2018-04-08 04:45] darrelmiller commented on #223
@scott-lin  I have had a few conversations about this with the OpenAPI working group.   The spec isn't clear about what is considered necessary to satisfy the required condition.  However, considering JSON Schema considers the mere presence of a property as satisfying the required constraint, it can be safely assumed that some folks are relying on the fact that an empty description meets the condi

[2018-04-08 04:46] #223 closed

[2018-04-08 04:46] #170 closed

[2018-04-12 18:17] #201 closed

[2018-04-12 18:19] #193 closed

[2018-04-12 18:20] #115 closed

[2018-04-13 01:37] PerthCharern commented on #149
@darrelmiller We still don't have a logo, do we? We can use Microsoft logo for now, if that's preferred.

[2018-04-14 00:00] xuzhg opened #240 "OpenApiTags in OpenApiOperation can't write the extensions"
We know Operation has a list of <Tag>:

https://github.com/Microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Models/OpenApiOperation.cs#L27

However,  If I create a <OpenApiTag> with extensions, the extensions can’t write out. Does it make sense?

For example:

[code]
The above two elements (Description & Extensions) can’t write out into the open api document.
Is it by design?

Thanks!

[2018-04-17 01:12] darrelmiller commented on #240
The extensions will write out at the root "tags" property, but not at the operation level.

[2018-04-17 01:12] #240 closed

[2018-04-17 01:13] darrelmiller commented on #87
Duplicate of #7

[2018-04-17 01:13] #87 closed

[2018-04-17 01:13] #33 closed

[2018-04-17 01:14] darrelmiller commented on #33
I'm closing more general issues and we can re-open specific issues as we identify them.

[2018-04-17 16:37] xuzhg commented on #240
thanks

[2018-04-25 18:31] #149 closed

[2018-04-25 19:59] TheEres opened #243 "Type dateTime not supported"
Hi,

I found a problem with dateTime type.

Steps:

* Try to validate/serialize an OpenApi definition containing `dateTime` schema (e.g. [Docker Engine API](https://docs.docker.com/engine/api/v1.37/swagger.yaml)).

Result:
* `OpenApiWriterException: The type 'System.DateTimeOffset' is not supported in Open API document.
`

Proposed solution:
* Add support to DateTimeOffset, ISO 8601 style : `Write

[2018-04-25 20:36] darrelmiller commented on #243
Thanks for the feedback.  I will investigate.

[2018-04-25 20:51] darrelmiller commented on #243
I was able to reproduce and resolve.  I need to add some tests around this, but I think we should be able to include this our 1.0 release.

[2018-04-26 16:20] Meir017 opened #244 "OpenApiSchema Required property"
The type of `OpenApiSchema.Required` should be an `ISet<string>` instead of `IList<string>`

https://tools.ietf.org/html/draft-fge-json-schema-validation-00#section-5.4.3

The value of this keyword MUST be an array.  This array MUST have at
   least one element.  Elements of this array MUST be strings, and MUST
   be **unique**.

[2018-04-26 20:39] #244 closed

[2018-05-08 00:10] #243 closed

[2018-05-08 00:10] darrelmiller commented on #148
Done

[2018-05-08 00:10] #148 closed

[2018-05-08 12:51] selman92 opened #250 "How to parse URL with placeholder?"
I have a swagger document that starts like this:

As you can see the host part of the uri is a placeholder, does OpenAPI support this? I got an error when I tried to parse with **OpenApiStreamReader**

[code]

[2018-05-08 14:50] selman92 commented on #250
The version I use is v1.0.0-beta015, haven't tried with v1.0.0-beta17 yet. There is no url definition like this in the document, could that be the problem?

In our project we are using AutoRest library and it parses the document without any problems. But since AutoRest doesn't support swagger 3.0 we want to switch OpenAPI.NET.

[2018-05-08 14:52] selman92 commented on #250
This is the full stack trace of the error:

[code]

[2018-05-10 18:06] Shwetap05 opened #253 "OpenApiDiagnostic error when key contains square brackets for components"
If a V2 json generated using swashbuckle contains square brackets in the key of the #definitions, OpenApiDiagnostics throw below error. Is there a reason why square brackets are not allowed? This validation is blocking one of the internal tool that consumes OpenApi.Net

Message:"The key 'Core.Collections.ResourceCollection[Services.Products.V2.Models.Availability]' in 'schemas' of components MUST

[2018-05-10 19:10] darrelmiller commented on #253
I'm not sure what the best approach here is.  Square brackets are not allowed in OpenAPI V3 component names.  We really need to translate any invalid component names into something valid.  For example we could translate any invalid character to a `-`.  This does mean that round tripping wouldn't be exact.

[2018-05-10 19:11] PerthCharern commented on #198
We are seeing this issue in #254. Even though the DOM is universal, there are certain restrictions on some strings in V3 that were not the case in V2.

Customers can remove the rule themselves, but then that seems very inconvenient. Should we provide rulesets based on Versions?

[2018-05-10 19:30] PerthCharern commented on #253
See #198.

An alternative we have is to provide rulesets for different Vs of the document.

[2018-05-14 13:50] talamram opened #255 "Deafault values"
Hi,
Not sure what suppsoe to be the correct behavior but when getting a default value that is not a string, the object I get for schema.Default is OpenApiString.

For example
"grade" : {
          "type" : "integer",
          "format" : "int64",
          "minimum" : 0,
          "maximum" : 100,
          "default" : 88
        }

when getting the schema for this property, the schema.Default is

[2018-05-14 15:27] darrelmiller commented on #255
Could you verify this against the latest release of the package?  I'm not able to repro the issue in my test.  Thanks.

[2018-05-14 15:54] darrelmiller opened #256 "Add the ability to read OpenAPI description fragments"
In the work that I am doing to support Swashbuckle and Azure API Management I have run into scenarios where I need to parse a string of OAS compatible text into a some IOpenAPIElement.  For Examples I need to create an IOpenApiAny instance.  For schema fragments I need to create an OpenApiSchema from a string.
I am working on PR and will link to this issue when I push it.

Currently I am attemptin

[2018-05-16 18:33] Shwetap05 opened #259 "Round tripping a V2 document is generating an invalid V2 document"
1) Read below Valid V2 document into OpenAPIDocument using OpenApiStringReader().Read()
2) Serialize the document  from above step into V2 using SerializeAsJson( OpenApiSpecVersion.OpenApi2_0 )
3) This converts a valid V2 document into invalid document, notice the in:body paramter is converted into in:formData

Valid Document Provided as input in step 1)
[code]
Invalid document generated in step 3

[2018-05-17 15:17] darrelmiller opened #260 "Process for managing patch releases vs minor releases"
Up to this point we have used master as the primary branch that all releases are derived from.  Now that we have a 1.0.0 release we have the potential for two distinct release branches.

We have bug fixes that should go into a 1.0.1 release and we have 1.1 work that should be released as a 1.1.0-preview nuget.

My proposal is that we continue using master for doing gated check-in's of the latest p

[2018-05-17 17:36] Shwetap05 commented on #260
Darrel,

I see one problem with above suggested approach, If we create branches for
Patches e.g. 1.0.1, 1.0.2 etc then for each of those branches we will need
to setup CI in our internal VSO account to sign assemblies and publish
nuget packages, and if anyone outside of Microsoft wants to contribute then
we will have to spend cycles to do it for them right?

So I propose, we leave Master for patch

[2018-05-17 19:33] darrelmiller commented on #260
That works for me.

[2018-05-17 19:33] #260 closed

[2018-05-18 18:45] darrelmiller commented on #259
@Shwetap05 What's the priority on this bug?  I'd like to get a 1.0.1 patch release out because I need the other fixes I don't in a release package.  Do you want this fix in 1.0.1?  Have you started looking at it?  Do you want me to take a look at fixing it?

[2018-05-18 20:15] Shwetap05 commented on #259
@darrelmiller Its not a high priority bug, could be a P3, doesn't need to be fixed in 1.0.1. I have not started looking as do not have bandwidth to look into for next two weeks. So i think we can leave it open for now.

[2018-05-18 21:34] darrelmiller commented on #259
@Shwetap05 Cool.  I'll take a quick look and see if it's an easy fix.  If it is I'll try and get it into 1.0.1

[2018-05-20 23:15] darrelmiller commented on #259
@Shwetap05 So.... there is probably no easy answer to this.  The original V2 document is arguably invalid.  By declaring both `application/json` and `application/x-www-form-urlencoded` for the `consumes` property it becomes challenging describe this API in V2.  V2 requires using formData parameters for declaring form bodies, but if you are passing JSON then you wouldn't use the form body.  I'm not

[2018-05-21 23:19] darrelmiller opened #262 "Cannot resolve relative URLs when reading documents if server URL is relative or absent"
Proposed solution: Add baseUrl property to reader settings.

[2018-05-21 23:31] PerthCharern commented on #262
Do we have an example document for this?

[2018-05-21 23:38] darrelmiller commented on #262
Simplest example would be something like:

[code]

[2018-05-21 23:45] PerthCharern commented on #262
- I understand the related problem you mentioned. Wouldn't that baseURL need to be input separately (as an argument to Read)?

- I am still unclear what the original problem means. I see that we read in the Server as a simple string, but I forgot where we resolve such URL. I guess if I run the doc above in the Workbench, I should see the error.

[2018-05-21 23:47] PerthCharern commented on #198
We decided not to do this. Whatever is in the DOM must be "V3-valid".

[2018-05-21 23:47] #198 closed

[2018-05-22 01:06] darrelmiller opened #263 "Missing paths property is not reported as an error in v2 and v3 docs"

[2018-05-23 13:54] talamram commented on #255
Yes I verified it on 1.0.0

example:
"/getStudentGrades/{studentId}" : {
      "get" : {
        "tags" : [ "grade" ],
        "summary" : "get student grades",
        "operationId" : "getStudentGrades",
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "studentId",
          "in" : "path",
          "description" : "Student id",
          "required" : tru

[2018-05-23 17:59] darrelmiller commented on #255
I took your example and ran it through the Workbench tool and it is parsing as an OpenApiInteger for me.

![image](https://user-images.githubusercontent.com/447694/40442391-5c8ee6ae-5e78-11e8-8dc2-bf34f709b6b8.png)

[2018-05-31 22:18] scott-lin opened #266 "OpenApiStringReader bubbles parsing error for valid JSON document"
The following document produces a parsing error due to the backslash in the basePath property. It is [valid JSON](https://jsonlint.com/), however, so I feel like the library should handle this without error. I believe this is a limitation/bug in SharpYaml parser being used within OpenAPI.NET.

**Document**
[code]

**Repro Code**
[code]

**Error from OpenApiDiagnostic**
(Lin: 7, Col: 13, Chr: 140)

[2018-06-05 16:27] darrelmiller commented on #266
This is a new escape character in Yaml 1.2.  I will create a PR in SharpYaml to add support for it.

[2018-06-09 19:47] darrelmiller opened #270 "OpenApi description without components, but with reference doesn't handle error properly"

[2018-06-09 19:48] darrelmiller commented on #263
Fixed by #267

[2018-06-09 19:48] #263 closed

[2018-06-10 14:19] darrelmiller opened #271 "V2 path item body parameters are not converted into requestBodies"

[2018-06-10 16:54] darrelmiller opened #272 "ListNode.CreateSimpleList throws InvalidCastException instead of OpenAPIException"

[2018-06-10 17:23] darrelmiller opened #273 "V2 output of requestBody with no schema is invalid"
Input V3
[code]

output V2:
[code]

This output is missing the schema property which is a required field.

[2018-06-10 20:44] darrelmiller opened #274 "Parsing custom extensions is currently only implemented for V3 Info object!"

[2018-06-12 17:41] darrelmiller opened #279 "Visitor classes cannot access current context, e.g. path, operation, response code, etc."
Structures that are contained in maps are iterated over, but there is no way to identify the current key of the map.

[2018-06-14 14:24] ChristineBoersen opened #283 "Specifying a Security object on an Operation serializes as an empty object"
When attempting to Consume a SecuritySchema within an Operation object, upon serialization, the output shows security: [{}] .

Shouldn't it show security: [ "myToken": [] ] instead so that the operation requires the SecuritySchema requested?

The documentation doesn't provide any examples using SecuritySchema or Security or I would reference them.

e.g.
[code]

And the output from this is

[code]

[2018-06-14 15:28] darrelmiller commented on #283
Hey @ChristineBoersen.  First off, thank for bringing this up.   It is further evidence that I really need to get some docs written for this project.  Secondly you have hit upon what was a fairly unusual design choice that I made when implementing SecurityRequirements.  I decided that for both SecurityRequirements and Tags that we were going to internally use the same reference handling code that

[2018-06-15 20:48] ChristineBoersen commented on #283
Actually it makes perfect sense knowing how JsonSchema works, thanks for the example! :)

One minor typo in your example above, "SecurityScheme" should be "OpenApiSecurityScheme"

[code]

[2018-06-15 20:48] #283 closed

[2018-06-19 08:12] talamram commented on #255
Yes you are right, The swagger editor export these elements as strings so the problem was at this level.

Thanks

[2018-06-19 20:49] Shwetap05 opened #286 "How to convert a c# object into OpenApiAny"
OpenAPI.NET.CSharpAnnotations builds the OpenApiDocument incrementally and to enable adding support for examples for the library, need a way to convert a C# object into OpenApiAny to populate OpenApiExample.

Or a way to convert a serialized json string to OpenApiExample object.

[2018-06-19 23:15] PerthCharern opened #287 "Callback key can be a string with embedded RuntimeExpression"
@darrelmiller

Issue from @epet, @Shwetap05

Currently we only allow RuntimeExpression in a key in a Callback object.

[code]

This is not correct given an example in the spec: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#callback-object-example

[code]

Note that the "expression" key above is a URL with RuntimeExpression embedded in.

Note: I think the spec is a bit

[2018-06-19 23:19] PerthCharern commented on #287
tl;dr;

We will need to modify our RuntimeExpression class to handle cases like:

[code]

where there are "expressions" in `{ }` in a string.

[2018-06-21 11:21] #255 closed

[2018-06-21 11:27] talamram opened #288 "$ref is not a valid property path item"
Hi,
I tried 1.1.0-preview.3 reader version with this sample:

[code]

And I get errors like **$ref is not a valid property at #/paths//float**
I checked the specification and it should be permitted.

Thanks

[2018-06-21 14:05] darrelmiller commented on #286
1.1.0-preview supports reader.ReadFragment<IOpenApiAny>()

[2018-06-21 14:06] darrelmiller commented on #279
Fixed in PR #280

[2018-06-21 14:06] #279 closed

[2018-06-21 14:07] darrelmiller commented on #274
Fixed in #278

[2018-06-21 14:07] #274 closed

[2018-06-21 14:07] darrelmiller commented on #273
Fixed in #277

[2018-06-21 14:07] #273 closed

[2018-06-21 14:07] #272 closed

[2018-06-21 14:08] #270 closed

[2018-06-21 14:10] darrelmiller commented on #262
BaseUrl in reader settings now resolves this.

[2018-06-21 14:10] #262 closed

[2018-06-21 14:10] #256 closed

[2018-06-21 16:44] PerthCharern commented on #286
Does it support reading a custom JSON into OpenApiAny though? I will double check again today.

The C# Reader does not have the whole OpenApiExample object to read from. It only gets the custom JSON object from the user and needs to populate the example field with that object. Currently the field can’t be populated with a C# `object` - only OpenApiAny is allowed.

Sent from my mobile device

On Ju

[2018-06-21 17:51] Shwetap05 commented on #286
@PerthCharern i have tried reading a JSON string into OpenApiAny and it works then its easy to create an OpenApiExample like below

var example = new OpenApiStringReader().ReadFragment<IOpenApiAny>( "{\"samplePropertyBool\":true,\"samplePropertyEnum\":\"SampleEnumValue2\"}", OpenApiSpecVersion.OpenApi3_0, out diagnosticV3 );

openApiDocV3.Components.Examples.Add( "test", new OpenApiExample() { Val

[2018-06-21 18:01] PerthCharern commented on #286
Sounds good then. I tried tracking through the code in the preview, and I think the ReadFragment is doing what we expect it to do. (Calling ParseFragment, which then calls LoadAny for IOpenApiAny type, which then parses the JSON string into the correct type of IOpenApiAny).

[2018-06-21 18:13] #286 closed

[2018-06-24 07:38] talamram commented on #288
Hi,
First, Thanks :)
Second, do you have any timeline for supporting referencing external files?

Thanks

[2018-06-25 16:31] darrelmiller commented on #288
@talamram I wish I did.  I would love to get it out within the next few weeks, but it just depends on how much free time I get.  And I want to get the Swashbuckle support for V3 finished first.

[2018-06-26 14:51] darrelmiller commented on #287
I've created a CompositeExpression class that will contain the outer template string and then create child RuntimeExpression objects for the parts inside {}.  As we don't actually do the runtime resolution yet, this shouldn't be too difficult to complete.

[2018-07-10 07:28] n-batrakov opened #291 "OpenApiJsonWriter: Invalid DateTime serialization"
## Expected Behavior

When using `OpenApiJsonWriter` valid JSON-string is written to `TextWriter`.

## Actual Behavior

Writing OpenApiDocument with DateTime values (e.g `example` in parameters) results in invalid JSON-string with DateTime values not enclosed in quotes.

### Example:

#### Code:

[code]

#### Input:

[code]

#### Output:

[code]

Note `example` property.

See [failing test case](h

[2018-07-12 18:19] shametim commented on #271
Is this issue referring to $ref variables in body parameters and responses not getting dereferenced for v2?
I have been trying different releases with no luck.

[2018-07-12 22:30] darrelmiller commented on #271
The default behavior is to export referenced components as $ref.  Can you show me what you are trying to achieve? I think I can create a walker very easily that will inline all $refs in a document.

[2018-07-12 23:39] shametim commented on #271
Thanks for the prompt reply.

Actual output of using the writer.
[code]

Desired behavior:

[code]
This is useful because it makes the swagger much more accessible to a consumer.

[2018-07-13 16:52] darrelmiller commented on #271
Ok.  It's not a common request to do this because most tooling that presents OpenAPI docs to users would generally do the inlining on the fly, rather than updating the document.  However, you could easily achieve this by creating a visitor that clears the Reference property from any object that has it set.  Once the Reference property is clear the writer will write out the full object.

You would

[2018-07-15 10:45] talamram opened #293 "type is not a valid property for parameter"
Hi,

When I use an 'type' element as part of parameter, I get an error: "type is not a valid property at #/paths//floating_ips/{id}/get/parameters"

(version 1.1.0-preview.3)
I used this Yaml sample to reproduce this error:

components:
  securitySchemes:
    iamToken:
      description: This API uses OAuth 2
      flows:
        implicit:
          authorizationUrl: https://ccc
          scopes:

[2018-07-15 11:35] talamram commented on #293
Not in the specification - my mistake

[2018-07-15 11:35] #293 closed

[2018-07-16 02:03] darrelmiller commented on #291
@n-batrakov Thanks for the detailed write-up on this.  I will get a fix out for this before the next release.

[2018-07-17 14:46] backdoorman00 opened #294 "Automatic reading of inheritance specified with allOf"
How should I read inheritance specified with `allOf`? Will those things be automatically read or I have to read them by myself?

By example:
[code]

Will `OpenApiSchema` for `Dog` contain `pet_type` property?

For me, as a user, one solution is to write my custom extension methods for `OpenApiSchema` that take inheritance into consideration when iterating some properties for example.

[2018-07-18 11:02] BackDoorMan00 opened #295 "Resolving reference schemas"
What's the best way to access reference schema? Is there any easier way of doing this other than:

`OpenApiDocument.Components.Schemas[referenceId];`

It seems like it's not possible to get it without having access to `OpenApiDocument` object. Because `OpenApiSchema` doesn't have any back-reference to `OpenApiDocument`.

EDIT: oh I found there's `OpenApiDocument.ResolveReference`

[2018-07-18 13:17] #295 closed

[2018-07-18 13:36] BackDoorMan00 opened #296 "Define constants for OpenApi data types"
It would be nice to have some constants for `OpenApiSchema.Type` based on this: https://swagger.io/docs/specification/data-models/data-types/

Instead of typing "array" etc. all the time when trying to parse some schema.

[2018-07-18 18:23] Shwetap05 opened #297 "Add validation for presence of "in" for parameters"

[2018-07-18 19:53] darrelmiller commented on #296
That makes sense to me. We can't make it an enum because it is extensible, but a set of string constants would definitely be a good idea.

[2018-07-19 08:48] backdoorman00 commented on #294
It seems like AllOf is automatically read so I can use it straight away without using `ResolveReference`:

[code]

[2018-07-19 08:48] #294 closed

[2018-07-19 11:04] talamram opened #298 "Add a reader for YamlDocument object"
Hi,

I would like to add a new reader (except OpenApiStreamReader and OpenApiStringReader) that called OpenApiDocumentReader, and gives the ability to parse YamlDocument SharpYaml object directly.
The class signature will be:

public class OpenApiDocumentReader : IOpenApiReader<YamlDocument, OpenApiDiagnostic>

The OpenApiStreamReader will use it after it generates YamlDocument.
This class is usef

[2018-07-20 09:10] amd64x opened #299 "How to check if parameter location is body?"
https://github.com/Microsoft/OpenAPI.NET/blob/4393e09cc1a93cd3a19d36bfce788c5c42575a0c/src/Microsoft.OpenApi/Models/ParameterLocation.cs#L11-L33

There's no way to check if parameter location is body. Am I missing something here?

[2018-07-20 11:49] JohnGalt1717 commented on #299
This is actually a bug that I was just about to report.
In = body parameters are not deserialized at all, so it is impossible to get at the body parameter and it's types making this project mostly useless because you're missing the parameters of POST, PUT, AND PATCH with no way to get them.

The library needs to be updated ASAP to support parsing body and fixing that the parameters are not deseria

[2018-07-20 14:20] darrelmiller commented on #299
Body parameters don't exist in OpenAPI V3.  There is no such concept.  Rather than designing two object models, one for V2 and one for V3, or some hybrid that contains a mix of both, this library takes V2 descriptions and maps them to a V3 model and on export downgrades to a V2 description if desired.
All of the information that you would previously have found in the V2 body parameter is now avail

[2018-07-20 14:31] JohnGalt1717 commented on #299
Ok, well that's fine, except RequestBody is null and it's definitely there. You can see this using Swashbuckle in aspnet core on an HTTPPost.

[2018-07-20 14:32] darrelmiller commented on #298
@talamram That sounds great.  If you could create a PR against the vnext branch we should be able to get that into our 1.1 release.

[2018-07-20 15:37] darrelmiller commented on #299
@JohnGalt1717 Would it be possible to provide a snippet of the openapi description that does not produce the requestBody?  I do know that it works in many scenarios

![image](https://user-images.githubusercontent.com/447694/43011375-3e51deaa-8c11-11e8-8d06-67cf2bfdd49d.png)

[2018-07-20 17:13] JohnGalt1717 commented on #299
Sure the following as no parameters AND no request body:

"/v1/Domains/Upsert": {
      "post": {
        "tags": [
          "Domains"
        ],
        "summary": "Inserts or Updates the dtos passed.",
        "operationId": "V1DomainsUpsertPost",
        "consumes": [
          "application/xml",
          "text/xml",
          "application/*+xml",
          "application/bson",
          "appl

[2018-07-20 19:40] JohnGalt1717 commented on #299
So what I'm seeting is that under Request body the Reference is null. Perhaps that's what I'm mistaking.

Because if I go into Content and then one of the possible content types the schema is in there.

But that doesn't make sense because the schema is consistent and not related to the content so it should be in the RequestBody property!?!

[2018-07-20 20:23] darrelmiller commented on #299
@JohnGalt1717 The References property will only be non-null if a $ref was used to define the object.  The Schema property was moved into the [mediaType Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#mediaTypeObject) in V3, so that different media types can be described with different schemas.  Describing XML with JSON Schema is not a whole lot of fun!

[2018-07-23 20:17] darrelmiller opened #301 "Reference resolver throws unhandled exception when reference is unknown"
This is an issue for regular $refs as well as security requirement objects

[2018-07-25 09:37] amd64x commented on #299
@darrelmiller it seems like body parameter name is completely lost in V3 spec.

V2:
[code]

V3:
[code]

You see??? In V2 my body parameter had a name, in V3 (converted with OpenAPI.NET) the parameter lost the name, it's like the parameter isn't there anymore and `IList<OpenApiParameter>` is empty.

Does it mean I have to use some custom extension that adds parameter names? There's something really

[2018-07-26 14:05] darrelmiller commented on #299
@amd64x This is by design.  When you do `GET /api/values/1`  you know you are getting a `value` but that name isn't defined anywhere, it is just the response body.  When you do `POST /api/values` by convention we know the payload represents a `value` but that name isn't defined anywhere, it is just the request body.

[2018-07-26 14:11] #299 closed

[2018-07-26 18:08] Shwetap05 opened #302 "OpenApiReader v1.1.0-preview.4 no longer throws OpenApiUnsupportedSpecVersionException when trying to read an unsupported version document"
When reading below document via OpenApiStringReader, it no longer throws OpenApiUnsupportedSpecVersionException exception with v1.1.0-preview.4, it used to be thrown with v1.0.0 is there a reason why this behavior was changed.

{
	"swagger": "1.0",
	"info": {
		"title": "This is a simple example",
		"version": "1.0.0"
	},
	"host": "example.org",
	"basePath": "/api",
	"schemes": [
		"http",
		"http

[2018-08-02 15:47] JohnGalt1717 opened #305 "Operation parameter extensions not parsed"
I have the following in the swagger endpoint:
[code]

Note toContactType:
[code]

which clearly has x-ms-enum as an extension.  If this was on a schema type, it works fine and the extension is pulled in. However when it's on a parameter of an operation it fails and the extension collection is 0 length.

[2018-08-02 16:43] darrelmiller commented on #305
Hey @JohnGalt1717 , can you confirm which version of the library you are using.  The latest code seems to be parsing this properly.

![image](https://user-images.githubusercontent.com/447694/43597979-9e759426-9651-11e8-9046-5d059c4bab53.png)

[2018-08-02 16:51] JohnGalt1717 commented on #305
Microsoft.OpenApi.Readers V 1.0.1

Under .NET Core Console app if that matters. Param.Extensions.Count = 0

[2018-08-02 20:29] darrelmiller commented on #305
@JohnGalt1717 Thanks for confirming.  I hope to have a release of the 1.1 library tomorrow.  That should resolve the issue.

[2018-08-03 20:20] JohnGalt1717 commented on #305
I tried the beta and it wasn't fixed there.

[2018-08-05 08:15] talamram opened #306 "String parameter get a OpenApiDateTime type"
Hi,

I tried to parse a document with a parameter with this properties:

in: "query",
name: "version",
required: true,
default: "2018-07-13",
pattern: "^\d{4}-\d{2}-\d{2}$",
type: "string",
description: "Release date of the API version"

This parameter got the type OpenApiDateTime although it should be a string.

Thanks

[2018-08-07 08:48] talamram opened #307 "Relative server url - V3"
Hi,
Not sure if it is supported right now, but when having a relative url in the description file (V3), and of course setting up a BaseUrl in the OpenApiReaderSettings, a **full server path is not generated**.
In V2, when giving only basePath (without host), a full server url is generated correctly.

Thanks

[2018-08-07 20:16] daniel-white opened #308 "V3 multipart `encoding` property type for content-type isn't supported"
Given this spec:

[code]
and given the documentation: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#special-considerations-for-multipart-content

I would not expect any errors or lack of the `contentType` for `message` when reading the YAML. I do get a diagnostic error: `"encoding is not a valid property at #/paths//convert/post/requestBody/content"`

[2018-08-07 20:41] daniel-white commented on #308
Diving into the code a bit, `Microsoft.OpenApi.Readers\V3\OpenApiMediaTypeDeserializer.cs` / `_mediaTypeFixedFields` has a comment like a todo for encodings, but its left unimplemented.

[2018-08-07 20:46] daniel-white commented on #308
Well it looks like the rest of the plumbing is there; this is what is missing in the `_mediaTypeFixedFields`

[code]

[2018-08-07 21:27] ArthNRick opened #309 "NullReferenceException"
I get an exception because of a parameter with the property "In" because it is null, I spent a lot of time to find the problem, a "NullReferenceException" error does not say anything, it is necessary to at least handle the errors to better identify where the problem is

[2018-08-10 09:08] bgiot opened #311 "OpenApiComparer not working at all"
Try to compare 2 documents (loaded from OAS 3.0 files).
The first one has 27 paths, the second one has 31 paths and no differents found.

[2018-08-10 09:13] bgiot commented on #311
Ok, looks like a work in progress... maybe avoid having public method in your library that is not fully implemented... or throw the right exception...

[2018-08-10 09:13] #311 closed

[2018-08-11 14:41] darrelmiller commented on #309
Hey @ArthNRick !  Thanks for reporting this.  In OpenAPI the "required" constraint can actually be satisfied by the null value.  Required only means that the property must be present.  The problem in this case seems to be that In is an enum and null is not being correctly reported as an invalid value.

[2018-08-11 14:43] darrelmiller commented on #307
Hmm.  Will investigate.  I thought this was resolved.

[2018-08-11 14:47] darrelmiller commented on #306
This will need some investigation.  I believe we attempt to infer the type from trying to parse the data.  Using the type to enforce the type is problematic for folks who want to have dateTime values because JSON has no notion of DateTime.  We would need to look into using the format property to provide the type hint instead of inferring the type.

[2018-08-12 21:45] darrelmiller commented on #307
@talamram The current behavior is by design.  But it may have been a mistake on my part.  For V3 documents, being able to roundtrip from serialized form to model and back to serialized form is very important.  If we resolve references using the base URL then we lose the fact that the input document used a relative reference.  We have no such round-tripping commitments for V2 documents, so updating

[2018-08-12 22:01] darrelmiller commented on #305
@JohnGalt1717 Any chance you have setup an ExtensionParser for x-ms-enum?

[2018-08-12 22:07] #302 closed

[2018-08-12 22:30] darrelmiller opened #313 "Development process changes"
Moving forward, I don't think we should continue with the vnext branch.  We ended up accumulating too many changes in the vnext branch and for every reported bug fix we had to deal with the question of should we merge the fix into master or into the vnext branch.

There are bunch of recently opened bugs that I would like to get fixed and I wanted to get them into the 1.1 release, but it was contin

[2018-08-13 05:44] Shwetap05 commented on #313
@darrelmiller make sense, then there is no more preview of any features that are added to the library? e.g. i wanted Diff to be released as preview and if there is no VNext how do you suggest we release it? As a major version of library?

[2018-08-13 13:30] JohnGalt1717 commented on #305
Nope. I just access it directly.

[2018-08-13 21:38] fhinojoza09 opened #315 "Nested properties inside a JSON API description malfunctioning"
Hi, I'm an intern working on a deserialization/translation tool for API descriptions and I've been using the OpenAPI Stream Reader, but I ran into an issue when the reader came across a nested property, the reader skips the nested properties entirely while registering the contents as null. I've attached a section of the file it contains the part where the reader malfunctions. The specific properti

[2018-08-13 22:15] PerthCharern commented on #313
- Based on #260, shouldn't every bug fix go into both the master and the vNext branch?  If we make the bug fix go into vNext branch every time it's merged into master, then the vNext will always have the most updated patch as well. You should not have to deal with "the question of should we merge the fix into master or into the vnext branch."

- This would still allow speedy release of the minor v

[2018-08-15 15:56] darrelmiller commented on #313
@Shwetap05 We manually update the nuget package for each release.  There's no reason why we couldn't add a -preview tag in the master branch for a preview release.
There is an interesting variant described [here](https://oren.codes/2018/05/15/oss-build-and-release-with-vsts/)  where master always deployes a preview and you branch to a rel/1.0 rel/1.1 when you choose to cut a release.  One nice thi

[2018-08-16 17:16] #313 closed

[2018-08-16 22:10] Shwetap05 commented on #287
Darrel, looks like this issue is still not fixed in 1.1

[2018-08-16 22:49] PerthCharern commented on #287
There's a bug in the expression parser. We are checking for `{$` to determine if it's a composite expression. If the expression is a simple string like `/abcd`, then we are not parsing it correctly.

[2018-08-16 22:51] darrelmiller commented on #287
Yeah. I just fixed it to look for Contains("$")

[2018-08-16 22:51] darrelmiller commented on #287
Wait. It's not an issue in the expression parser. It was in the callback deserializer

[2018-08-16 23:19] darrelmiller commented on #287
@Shwetap05 I have a fix pending for the example that Perth included above.  However, it will not handle the case when the callback key does not have any runtime expression.  i.e. when it is a string literal.  This scenario is not one that is currently supported by the OpenAPI specification.  Perhaps it should be, but I will need to bring this up with the Technical Steering Committee to see if we c

[2018-08-16 23:40] PerthCharern commented on #287
I would argue that even in the current spec version, there's already a bit of an ambiguity in whether the constant `/abcd` scenario "is one that is currently supported by the OpenAPI specification."

---------------------

From the spec:

This makes it sound like if we are okay with treating a composite expression as a runtime expression, then we should also be okay with including a literal string

[2018-08-21 18:29] JohnGalt1717 commented on #305
bump

[2018-09-19 10:55] elaugier opened #318 "Can't find namespace Microsoft.OpenApi.Readers"
Hello,
I want use the MS OpenApi.Net library but I encounter a strange issue because when i try to create a new instance of OpenApiStringReader because i don't know in which namespace i can find the class...
When i read the source, seems that the class is in the namespace Microsoft.OpenApi.Readers.
I try to add the package via "dotnet add package Openapi --version 1.0.1" and when i try to build, i

[2018-09-19 11:39] elaugier commented on #318
Sorry. I found that it was another package to add to my project Microsoft.OpenApi.Readers

[2018-09-19 11:39] #318 closed

[2018-09-19 20:59] Shwetap05 opened #319 "OpenAPIV2Deserializer should handle invalid host value gracefully"
If an V2 OpenApiDocument have invalid host e.g below, then OpenApiStringReader().Read is throwing an unhandled exception with message ": 'Input string was not in a correct format.'" , instead of handling the error gracefully and throwing a validation error for it.

{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "Test API",
        "description": "Test"
    },
    "

[2018-09-21 23:00] PerthCharern commented on #287
@darrelmiller I'm not sure how far you've got.

We have to unblock our customers who bring us composite expression as well as runtime expression. Last time we talked, we were (or at least I was) unsure whether string literal counts as a composite expression. Do we have clarity on this now?

Based on the literal reading of the script, I still think that literal string should be supported. Also from

[2018-09-26 00:49] PerthCharern commented on #315
Thanks for reporting @fhinojoza09 and sorry for the delay in our response. I'll investigate this tomorrow and get back to you.

[2018-09-26 01:04] PerthCharern commented on #315
@fhinojoza09 The document is not compliant with the OpenAPI 3.0 spec. The values in the `properties` map must also be a Schema object.

For example, here's the way to document a nested property in OpenAPI 3.0.

[code]

The above represents

[code]

[2018-09-26 16:44] PerthCharern commented on #315
I'll close this issue. If you have more questions/concerns, feel free to reopen.

[2018-09-26 16:44] #315 closed

[2018-09-27 01:47] PerthCharern commented on #291
Update: I have the fix now, and will get it out for PR when I'm done with tests.

[2018-09-27 20:33] huaxing-yuan opened #323 "OpenApiStringReader.Read Fails for some different CultureInfo"
## Symptom  - Read definition in some culture settings will fail
When using OpenApiStringReader.Read to read PetStore example, i got a "System.FormatException".
My operating system is in English, but the Currency and DateTime formats are set to "fr-FR".

I doubt that the conversion failed because in French the decimal separator is **comma** , but not a **point** .
Actually i got a workaround that

[2018-09-27 21:42] PerthCharern commented on #323
Thanks for reporting the issue @huaxing-yuan

I'll look into this a bit more, and will report back.

[2018-09-27 21:50] PerthCharern commented on #323
I believe this can be fixed by changing all the xxx.Parse(value) to xxx.Parse(value, CultureInfo.InvariantCulture).

JSON/YAML does not vary by culture, so it should be safe to assume we are reading something that makes sense in CultureInfo.InvariantCulture.

We'll fix this as soon as we can.

[2018-09-27 23:05] huaxing-yuan commented on #323
Thanks for your quick reply, InvariantCulture should be fine 👍

[2018-09-28 17:13] #291 closed

[2018-10-01 23:13] PerthCharern commented on #308
Based on the PR and the conversation above, I believe this is resolved. Please reopen if that's not the case.

[2018-10-01 23:13] #308 closed

[2018-10-01 23:18] PerthCharern commented on #306
@darrelmiller Agree that trying to parse the data is not the correct way to do it. We should stick with the explicit types recognized by OAS https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#data-types

I'll take a look at this specific issue.

[2018-10-02 23:05] #323 closed

[2018-10-05 13:53] ArthNRick opened #327 "DateTime value example incorrect format"
OpenApiDateTime parameter example is being written without parentheses, which should be mandatory in a json file
![format error](https://user-images.githubusercontent.com/17991046/46539423-cfad0700-c88c-11e8-85d9-3379a9967f23.png)

[2018-10-05 14:19] ArthNRick commented on #327
I saw that they corrected this in commit e28c438a with pull request # 312, but this change is not yet available in the version available in nuget (1.1.0)

[2018-10-05 14:29] #327 closed

[2018-10-05 14:30] ArthNRick commented on #327
Fixed non pull request #322, awaiting release

[2018-10-09 23:43] PerthCharern commented on #297
This is a by-product of #329.

[2018-10-10 00:20] PerthCharern commented on #306
I'll modify the way CreateAny works to take in some hint about the type and format based on the table above.

[2018-10-10 00:38] PerthCharern commented on #305
@JohnGalt1717

With the latest code, I got the same result as Darrel above, with the x-ms-enum being deserialized and serialized correctly. I also see the Extension populated in the DOM as well.

![image](https://user-images.githubusercontent.com/26418622/46706501-94db0400-cbe9-11e8-9c77-9a66415ae1d0.png)

1) Any chance you could share with us a bit more about your set-up? I'm not sure what else c

[2018-10-10 00:39] PerthCharern opened #330 "Exception thrown when security requirement key doesn't match a security scheme definition"
Exception thrown when security requirement key doesn't match a security scheme definition.

We should parse the document normally, but yield a validation error instead of throwing.

[2018-10-10 00:48] PerthCharern commented on #296
I'll bundle this change with the fix to #306.

[2018-10-16 14:16] gregbair opened #332 "Converting YAML doc with date types to JSON creates invalid JSON doc"
Microsoft.OpenApi version 1.1.0 -

I'm pulling in a YAML OpenApi doc with the following property in a schema:

[code]

When using the serializer  (`doc.Serialize(ms, openApiVersion, format);`, where `ms` is a `MemoryStream`, `openApiVersion` is `OpenApiSpecVersion.OpenApi3_0`, and `format` is `OpenApiFormat.Json`, the JSON output is:

[code]

which is invalid JSON (the date is not properly quoted)

[2018-10-16 17:03] PerthCharern commented on #332
This is fixed in #322. We will release a patch version by next week.

[2018-10-16 17:04] gregbair commented on #332
Thank you, I'll close this then.

[2018-10-16 17:17] #332 closed

[2018-10-19 09:30] Dipak-Tated opened #336 "Not able to get request body parameters"
Am using https://petstore.swagger.io/v2/swagger.json as an input for OAS specification. As you can see request of UpdatePet /Addpet operation ID has request in body parameters, but while getting the OpenApiDocument object, it does not show any parameters for this updatepet/addpet object.
Any help, would be greatly appreciated.

[SupportingScreenshot.docx](https://github.com/Microsoft/OpenAPI.NET/f

[2018-10-19 10:20] Dipak-Tated commented on #271
I think same problem occurs with V3 as well. Use this attachment as input and see behaviour.
[petstore3_0_json.txt](https://github.com/Microsoft/OpenAPI.NET/files/2495410/petstore3_0_json.txt)

[2018-10-19 18:12] PerthCharern commented on #336
Our object model is based on V3 spec. This means that the body parameter from a V2 document will be parsed into the requestBody section in V3.

In your V3 JSON above, the information of the old V2 body parameter has been parsed into the requestBody section for both addPet and updatePet.

[code]

[2018-10-19 23:08] PerthCharern commented on #306
Apologies for the delay. Having looked into this a bit more, I am not quite sure if the route I mentioned above is the way to go.

We can rely on the type and the format given to parse a simple value parameter, though that might be a bit problematic, since people do not always fully specify the format. In that case, a lot of parameters will simply be parsed into OpenApiString, which might not be t

[2018-10-19 23:09] #297 closed

[2018-10-20 01:30] darrelmiller commented on #271
@Dipak-Tated Writing out the $ref is by design.

[2018-10-24 18:13] darrelmiller commented on #306
I wonder if we can take the approach where if type and format is not provided then we can try and infer the data type but if it is then we respect the provided data.

[2018-10-24 18:40] PerthCharern commented on #306
Thanks Darrel. I think that makes sense. To summarize, I'll go with the following route:
- Type provided. Use that type.
  - If data conflicts with the type, leave the field empty. (Will think about this case a bit more)
- Type not provided. Infer from the data.

[2018-10-25 02:35] senthilkumarmohan commented on #330
Hi, I have checked in fix for this issue pr#339.

[2018-10-30 19:23] PerthCharern commented on #330
@senthilkumarmohan Thanks for the PR. I'll take a look.

[2018-10-30 20:35] #330 closed

[2018-10-31 22:07] #319 closed

[2018-10-31 22:59] PerthCharern commented on #296
Plan change. To keep the PR size sane, fix will be sent out separately after PR for #306 is checked in.

[2018-11-07 20:37] #306 closed

[2018-11-08 01:29] senthilkumarmohan opened #344 "Report an error when the discriminator property is not defined in 'oneOf' the schema types?"
Should we report an error when the discriminator property is not defined in 'oneOf' the schema types? in the below example, pet2 doesn't have the expected discriminator property.

responses:
        '200':
          description: pet response
          content:
            application/json:
                schema:
                  oneOf:
                    - "$ref": '#/components/schemas/pet1'

[2018-11-08 19:05] PerthCharern commented on #344
From the spec, we might be able to be even stricter:

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#composition-and-inheritance-polymorphism

"... As such, the discriminator field MUST be a required field. There are are two ways to define the value of a discriminator for an inheriting instance."

Would you like to send out a PR? :)

[2018-11-09 00:15] senthilkumarmohan commented on #344
Thanks for your response. I am working on it - will submit a PR soon.

[2018-11-09 20:38] Shwetap05 opened #345 "OpenApiStringReader().ReadFragment throwing exception when converting a string to IOpenApiAny"
One of the consumer of https://github.com/Microsoft/OpenAPI.NET.CSharpAnnotations is specifying below string for example value of a multipart/form-data

@"---------------------------acebdf13572468
ParamaterOne: 'Some App-Specific Data'
ParameterTwo: { ItemOne: 'one', ItemTwo: 'two' }
ParameterThree: ['1','2','3']
Content-Disposition: 'form-data'; name='fieldNameHere'; filename='AnnualReport.docx'

[2018-11-09 20:39] Shwetap05 commented on #345
If i just use below value then it works, but again i am not familiar with form data so not sure if that is the correct way to provide an example

@"
ParamaterOne: 'Some App-Specific Data'
ParameterTwo: { ItemOne: 'one', ItemTwo: 'two' }
ParameterThree: ['1','2','3']"

[2018-11-09 21:53] PerthCharern commented on #345
The string given to OpenApi.NET reader must be JSON/YAML compliant. To preserve the newlines in the original string, we'll need to first escape them.

Basically, we will need the below input in `exampleString`. Note that the quotes ARE a part of the string. It is needed for ReadFragment to understand that this is a string.

"---------------------------acebdf13572468\r\nParamaterOne: 'Some App-Spec

[2018-11-09 22:34] PerthCharern commented on #345
Synced with @Shwetap05. The changes will have to be made on the https://github.com/Microsoft/OpenAPI.NET.CSharpAnnotations side. I'll close this.

[2018-11-09 22:34] #345 closed

[2018-11-15 01:02] senthilkumarmohan commented on #344
@PerthCharern, i have submitted a PR for this. Please can you review?

[2018-11-15 10:09] kMutagene opened #347 "Parameters are not parsed, only yielding empty seqs"
I am trying to parse the [petshop example yaml](https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.yaml) using the OpenApiStringReader in F#. There are no exceptions thrown, but aside from the actual path string, the resulting object is completely empty:

![image](https://user-images.githubusercontent.com/21338071/48545545-69bd9180-e8c6-11e8-96f5-018de308f120.png)

Am

[2018-11-15 14:14] darrelmiller commented on #347
I think what you are seeing is as intended.  For the first path item, the  operations dictionary has two Operation objects in it.  The description string will be in those, as will the list of parameters and responses..

[2018-11-15 17:23] kMutagene commented on #347
I knew i was missing something, thank you for the quick answer!

[2018-11-15 17:23] #347 closed

[2018-11-15 21:50] #344 closed

[2018-11-19 22:24] korygin opened #348 "Reading and writing a document with sample date-time fields produces invalid document"
OpenAPI.NET
Version 1.1.0.0

**Repro:**

1. Create an OpenAPI document with a sample response message that has date-time fields, i.e.:
"responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object"
            },
            "examples": {
              "application/json": [
                {
                  "lastCalculated": **"2018-11-16T

[2018-11-19 22:49] PerthCharern commented on #348
Could you try v1.1.1? It should be fixed there.

https://www.nuget.org/packages/Microsoft.OpenApi/1.1.1

[2018-11-21 00:56] korygin commented on #348
Thanks, Perth. I can confirm this is fixed  in 1.1.1

[2018-11-21 00:56] #348 closed

[2018-11-21 09:45] selman92 opened #349 "Can't build the solution"
I'm having trouble building the solution, I'm running CMD as admin and this command:

build.cmd 1.1.0

Getting these errors:

![errors1](https://user-images.githubusercontent.com/17150333/48832921-55c4d480-ed8b-11e8-8041-f8703d68a4f3.png)
![errors2](https://user-images.githubusercontent.com/17150333/48832928-59585b80-ed8b-11e8-90fc-3be7d9175f18.png)

[2018-11-26 20:15] selman92 opened #350 "Server URI is parsed incorrectly when the URI is relative"
When parsing this document with OpenAPI.NET, it parses the server URL as: **http:///v2**, while it should only parse **/v2** and not append **http://** to it.

[code]

[2018-11-28 00:47] PerthCharern commented on #350
Thanks for reporting @selman92.

V2 spec splits out the URL into multiple parts, including `basePath`, `host` and `schemes`. In V3, these are all combined into the Server Object `url`.

Since our model is based on V3, when we read V2 document, we need to reconstruct the URL based on the given info. In your case, we use the `http` in `schemes` and the `/v2` in basePath to construct the URL `http://

[2018-11-28 00:48] PerthCharern commented on #349
@darrelmiller Darrel, do you recognize this issue? If not, I'll take a look into the build cmd file more.

[2018-11-28 00:50] PerthCharern commented on #307
I can take a look into this more.

[2018-11-30 09:21] jchannon opened #352 "Is there a way when defining responses to give it T and let the lib create the schema?"
Is there a way to use the library for example to do `new OpenApiResponse{Content = new Foo()}` and it then creates the schema for you?

[2018-12-06 01:00] SahilSancheti opened #353 "Does the parser support ODataQueryOptions?"
I've been trying to use this with some odata inputs as well but haven't been able to get it to recognize that something like $top might be in the inputs.

[2018-12-06 18:53] #353 closed

[2018-12-07 17:50] epet commented on #319
we are still seeing this after updating to 1.1.0

[2018-12-10 17:57] erikj180 commented on #319
check that, I meant 1.1.1 has been deployed to our service and we are still seeing this issue. Please reopen.

[2018-12-12 23:10] PerthCharern commented on #319
The issue is fixed in #340, but it has not been released. I'll release a new patch.

[2018-12-13 01:27] nduijvelshoff opened #369 "Missing "version" key."
Hi there,

I'm possibly doing something very wrong, but why don't I get the "openapi" key specified?

My current output:
![image](https://user-images.githubusercontent.com/3780207/49909285-778f1400-fe7e-11e8-9b1a-dd36c91b0212.png)

While it should be like this:
![image](https://user-images.githubusercontent.com/3780207/49909309-8ece0180-fe7e-11e8-85cc-6b7f5a8f36e5.png)

My code is:

[code]

[2018-12-13 01:41] PerthCharern commented on #369
Hi @nduijvelshoff.

The standard JSON serialization of the C# object won't yield the correct OpenAPI document. This is by design for many reasons, e.g. to allow serialization in both V2 and V3, to allow storing extensions which don't fit well with the normal C# object, etc.

You will need to serialize the document using the serializer in our library:

[code]

Let me know if this works for you.

[2018-12-13 01:49] PerthCharern commented on #352
Did you mean something like below?
- You provide an example in the Media Type object as `new Foo()`
- Call some function in the library
- The Media Type object will have schema populated

Unfortunately we don't have this capability implemented yet. I am not sure if it fits in the main scope of this library, but I can see how it can add convenience.

We DO have the validation in place for the type

[2018-12-13 01:49] nduijvelshoff commented on #369
@PerthCharern thanks for the amazingly quick response!

I tryied your suggestion before, but then I'm getting the following error:

![image](https://user-images.githubusercontent.com/3780207/49910069-aa86d700-fe81-11e8-9c47-de630be908bf.png)

Am I missing a namespace?

[2018-12-13 01:57] nduijvelshoff commented on #369
In addition to my previous comment, before I selected `SerializeAsV3` I got the following options since `Serialize` doesn't exist:
![image](https://user-images.githubusercontent.com/3780207/49910388-d8b8e680-fe82-11e8-802a-f3c6e2c938fb.png)

[2018-12-13 02:17] nduijvelshoff commented on #369
So I figured that seem to be missing the `Microsoft.OpenApi` namespace for the `OpenApiSpecVersion` and `OpenApiFormat`. So now its:
![image](https://user-images.githubusercontent.com/3780207/49911076-5a117880-fe85-11e8-92f1-e7f539aa2f48.png)
I still get the error that `OpenApiDocument` doesn't contain a definition for: `Serializer`

[2018-12-13 02:20] PerthCharern commented on #350
That's true. From a practical standpoint, I agree it makes more sense to just output /v2 as a relative URL. For this case specifically, if you remove the `scheme: -http` part, I think you will get the desired output. Would that work in your case, or do you need to specify HTTP?

Longer discussion:

I think we are in a weird technical situation. We are given the information that the scheme is 'http

[2018-12-13 02:20] PerthCharern commented on #349
@selman92 Are you still having issues with this?

[2018-12-13 02:30] PerthCharern commented on #369
The Serialize extension is in this namespace:

Microsoft.OpenApi.Extensions

https://github.com/Microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Extensions/OpenApiSerializableExtensions.cs

Does that work?

[2018-12-13 02:33] nduijvelshoff commented on #369
That's it! Thanks @PerthCharern !

[2018-12-13 02:34] PerthCharern commented on #369
Glad that works! I'll close this, but feel free to open any new issues if you run into any other problems.

[2018-12-13 02:34] #369 closed

[2018-12-19 23:25] robbymeier opened #371 "Schema Missing"
When a global consumes/produces is set after paths then the schema is not loaded when calling OpenApiStreamReader.Read. The code below replicates that issue. The original json has the consumes/produces at the end. It then produces openApiDocument3 with the missing schema. The code then moves the 'produces' before 'paths' and produces openApiDocument4. In this case the schema is not missing. The di

[2018-12-21 05:49] selman92 opened #372 "How should I decide which diagnostics are mission-critical?"
While parsing a swagger document sometimes there are errors in diagnostics but the `Paths` still contain the API operations, and I can parse the document even though there were some warnings/errors.

Now my question is, how can I decide what error is mission-critical? meaning that indicates the file is INVALID, and should NOT be parsed? It would be nice if there were some kind of severity flag in

[2018-12-23 02:39] darrelmiller commented on #372
The general approach we have taken is that we generate errors when we find documents that don't comply with the specification.  We do our best to parse whatever we are given.  We try not force our opinions on whether you are prepared to accept a document that violates the specification.

You can change the default set of validation rules that we run if you don't want to be notified of certain type

[2018-12-23 02:41] darrelmiller commented on #371
I believe this PR #368 should fix your issue.

[2018-12-23 02:43] darrelmiller commented on #352
No @jchannon we don't try and infer schemas from C# types.  I think it would be an interesting add on, but I'm not convinced it should be part of the core.  The solution would start to get way to opinionated once the type has base classes and interfaces.

[2018-12-23 02:43] #352 closed

[2018-12-23 02:46] darrelmiller commented on #349
This is related to the SourceLink feature.  I'll see if I can repro.

[2018-12-23 02:50] selman92 commented on #372
I get errors about response object not containing a definition etc. In my use case, I don't need the response object at all. Only thing I need is the operations/paths. So I can ignore those errors but there is no type or severity information in the errors. I will look into the validation rules if it works for my case.

[2018-12-25 13:47] sturlath opened #373 "Decimal data type?"
Can I define a decimal [data type](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#data-types)?

Or is decimal not even supported in the [OpenApi standard](https://swagger.io/docs/specification/data-models/data-types/)? And if so what can I do instead?

I would like to be able to do something like this.
`["amounOffered"] = new OpenApiSchema
	{
							Type = "number",

[2019-01-03 19:21] PerthCharern commented on #373
The "decimal" format is not natively recognized by the standard. This doesn't mean that you can't use it, but it means that most tools out there probably would not have support for it since it's not required by the spec.

If you have your own tool that can interpret "decimal" format, then there should be no issues for you to use it. Our OpenAPI.NET library does not enforce any specific values in S

[2019-01-03 22:21] baywet opened #374 "Security requirements not being serialized?"
Hi everyone,
As I'm fairly new playing with this library I'm not whether I found a bug or if I'm missing something.
I'm currently building a brand new API, this api relies on aspnet core, ef core, odata core. Previously this API was not secured in any way and I had Open API definitions working fine.
I added an additional project/service to handle all identity/authentication/autorisation concerns.

[2019-01-03 23:20] PerthCharern commented on #374
@baywet

The security scheme object must be declared in OpenApiDocument.Components.SecuritySchemes. The SecurityScheme object you use as a dictionary key in OpenApiSecurityRequirement should then contain the `Reference` to the SecurityScheme you have declared in the Components.

We don't allow declaring the SecurityScheme directly in the SecurityRequirement since the spec says that the scheme here

[2019-01-04 12:52] jaredgermano commented on #371
[SchemaRepro.zip](https://github.com/Microsoft/OpenAPI.NET/files/2727016/SchemaRepro.zip)

The title sounds like the problem I'm having though i'm not sure it's the exact same.

Using Microsoft.AspNetCore.Mvc.Versioning.ApiExplorer 3,1 on our API, the schema field appears to not get parsed correctly (Or the JSON is malformed). Either way I've attached a repro project with sample json that should d

[2019-01-04 14:23] baywet commented on #374
@PerthCharern thanks for the help!
With that additional information I was able to make progress, now my json definition contains this under components.
[code]
and that under security
[code]
And this is what my code for the security part looks like now.
[code]
**As you can see my securityScheme node is missing a lot of information I'm providing in the code, did I miss something here?**
Question: my

[2019-01-08 03:18] PerthCharern commented on #374
@baywet Could you elaborate on this "my securityScheme node is missing a lot of information I'm providing in the code"? Can you show the serialized version of your object by any chance (i.e. call document.SerializeAsJson or something similar)?

In the security requirements node, you will see a map from the security scheme name (in this case "openIdConnect") to list of strings (["datapoints.read"])

[2019-01-08 03:21] PerthCharern commented on #374
One more thing:

Based on the spec, if you use `openIdConnect` as security scheme type, you should only add `openIdConnectUrl`.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#security-scheme-object

Could you remove other properties? They might be the reason why Swagger UI cannot give you what you need.

[2019-01-09 13:09] baywet commented on #374
@PerthCharern thanks for the follow up and the support!
For the security scheme missing information question/remark, it makes senses that the serialiazer was ignoring what I was providing to match the spec, I removed the additional information, it now shows like that in the code.
[code]
Both the securitySchemes and security nodes in my open API definition haven't changed so I guess it is pulling i

[2019-01-09 18:42] PerthCharern commented on #374
​I would like to see the OpenAPI Document that is generated (the one the UI is rendering).

Basically, the output of your line here:

var outputYAML = document.SerializeAsYaml(OpenApiSpecVersion.OpenApi3_0);

Could you provide that? If we can confirm that all the info is in the doc, then it's a Swagger UI problem. If the info is not in the doc, then it's our library's problem.

[2019-01-10 02:39] baywet commented on #374
Let me know if you need anything else.
[swagger.zip](https://github.com/Microsoft/OpenAPI.NET/files/2743361/swagger.zip)

[2019-01-11 22:30] PerthCharern commented on #374
The security section and the components/securitySchemes section look compliant to the spec to me. There are some other issues with your document (some parameters have the same name), but it should not cause the behavior you described.

My best guess would be that Swagger UI has some issues with OpenIdConnect, or that whatever is hosted in your localhost openIdConnect URL is not in the correct form

[2019-01-11 23:16] darrelmiller commented on #374
@baywet Just a FYI regarding your sample,

[code]
The problem above is that you now have two instances of OpenApiSecurityScheme when really you only want one.  Ideally what you should do is create the component with the reference to itself and marked as "resolved" and then use that object instance in your SecurityRequirement dictionary.

[code]

I realize that is ugly as sin.  I'd love to create s

[2019-01-11 23:22] darrelmiller commented on #374
I just received confirmation that SwaggerUI does not yet support OpenIdConnect.  They haven't had much demand for it yet.

[2019-01-12 02:14] PerthCharern commented on #374
@darrelmiller I think @baywet has already changed his security scheme object to only contain openIdConnect-related stuff as suggested by the spec, so the creation of the object will look a bit less complicated.

Thanks for confirming the Swagger UI issue.

[2019-01-13 03:42] senthilkumarmohan opened #375 "components/schema validations for required/discriminator fields"
I observed that the below validations missing for schema in components section:

1) Required fields are not checked if they are valid properties.
2) Discriminator is not checked if it's a valid property and in the required field list.

I am working on adding validation rules to OpenApiSchemaRules. Please share if you have any inputs on this.

e.g.
components:
    schemas:
        pet:

[2019-01-15 20:19] mattfrear opened #377 "Create converter from C# object to IOpenApiAny"
Hi,

I wish to set `OpenApiSchema.Example`. It is an IOpenApiAny. Is there a serializer/converter for creating an `IOpenApiAny` from a C# `object`? Or do I need to write my own using reflection?

**Background:** I am the author of a Swashbuckle filter which adds examples to request and response parameters and schemas. I see that the upcoming Swashbuckle 5.0 (in beta) is using OpenAPI.NET, so I am

[2019-01-15 20:45] PerthCharern commented on #377
@mattfrear Unfortunately, we do not have such converter. If you need this functionality now, you will have to write this yourself.

@darrelmiller This seems like a nice thing (and an important thing) to have, and I recall we were asked for this before. I can't seem to recall the reason why we went against it though. Do you still remember?

This way, when someone wants to create an Example in the D

[2019-01-15 20:57] PerthCharern commented on #374
Thanks @baywet

For your Security Scheme object, I don't think you should have the extraneous properties:

[code]

And regarding adding something to signify that this works with openIdConnect, the spec doesn't really provide an explicit way to do that. Adding `openIdConnectUrl` when `flows` is still present seems to violate the spec (though this is somewhat ambiguous as well). The (theoretical) im

[2019-01-16 14:07] baywet commented on #374
Thanks! I updated that as well, still works perfect.
Ok for the OIDC thing, I think I'll leave my open API doc with OAuth documented and add the OIDC support in the general documentation (outside of open API) for the front end team.
Big thanks to you @PerthCharern and @darrelmiller for the support on that! I'll close the issue now.

[2019-01-16 14:07] #374 closed

[2019-01-18 11:22] toblea opened #378 "RequestBody looses parameter name when type is array"
When OpenApiV2Deserializer creates RequestBody, the parameter's name when the type is "array".

[code]

[2019-01-21 12:52] PavelZav opened #379 "base64 data type"
How is implement type:string format:byte? By the specification OAS should be base64, but in internal structures it's byte. Thank's

[2019-01-23 10:36] srev-saxo opened #380 "Terminal colon in string properties produces invalid YAML"
String property values that end with a colon are not quoted/escaped when writing YAML. The code below produces the following output, which seems to be invalid (not accepted by editor.swagger.io):

[code]

[code]

[2019-02-02 21:32] darrelmiller commented on #378
Yes.  This is an unfortunate side effect of the changes made in OpenAPI v3.  There is no place for that name in V3.  It was dropped because there is no logical place in HTTP for naming a request body.  I have discussed this with some folks and we have debated inserting a `x-name` property in the request body when translating from V2 to V3.

[2019-02-02 21:37] darrelmiller commented on #377
@PerthCharern I tend to avoid all conversations that relate to automatic serialization of C# types because it leads to pain :-).  However, I understand the desire for this feature.  It should be fairly simple to create a converter that handles 90% of scenarios.

[2019-02-11 19:56] #380 closed

[2019-02-12 01:21] #375 closed

[2019-02-18 10:15] michivogler opened #383 "ValidateOneOfDiscriminator errors"
I'm currently trying to generate an OpenAPI documentation using this library. When I try to add a discriminator in combination with `oneOf` I get a ton of errors after validation for the `ValidateOneOfDiscriminator` rule and I can't figure out what exactly is wrong.

Error message examples:
[code]

When I serialize the `OpenApiDocument` and copy it to https://editor.swagger.io/ everything seems to

[2019-02-18 12:16] michivogler commented on #383
Here's a test to reproduce the error:
[code]

[2019-02-27 22:25] xuzhg opened #386 "Binary in Any type writing failed"
If i have a OpenApiBinary object, it's not supported now in the writing the binary value.

The problem is at https://github.com/Microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Writers/OpenApiWriterAnyExtensions.cs#L173

It directly uses the value (its type is byte[]), and the underlying writer can't write the `byte[]` type.

[2019-03-04 18:42] aslivker opened #388 "Serious performance issues when reading some Open API documents"
We see serious performance issues when reading some Open API documents. The following code freezes and never returns (we left it run overnight).

            using (Stream input = File.OpenRead(@"c:\temp\Swagger.json"))
            {
                OpenApiDocument doc = new OpenApiStreamReader()
                    .Read(input, out OpenApiDiagnostic diagnostic);
            }

Hint: the problem s

[2019-03-04 20:47] ijsgaus opened #389 "OpenApiSchema.Items can be a array"
For tuple representation as array, OpenApiSchema.Items can be array of schemas - https://json-schema.org/understanding-json-schema/reference/array.html

[2019-03-04 21:10] darrelmiller commented on #389
JSON Schema Items can be an array, however OpenAPI Schema Items specifically prohibits this behavior https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#schema-object  One of the reasons being that it makes it because hard to create a model in strongly typed languages.

[2019-03-07 11:00] pratap-dotnet commented on #271
@darrelmiller Is there a sample code to dereference the references in the swagger document. We have a requirement where we have to flatten all the members in the response, we are unable to do so using OpenAPI sdk

[2019-03-12 15:04] sbacquet opened #390 "Swagger (v2) not deserialized properly"
In the following code :

[code]
`schema` ends up null, whereas it should contain Pet.

[2019-03-13 02:48] darrelmiller commented on #390
Hey @sbacquet   Good catch.

The problem comes because of the produces with two media types.  If you run the petstore OpenAPI through the workbench tool you get the following V3 output.

[code]

The schema is preserved for the first content type but lost for the second.  I suspect this is a regression related to other changes around maintaining state whilst translating V2 into V3.

I will investig

[2019-03-13 03:04] #389 closed

[2019-03-13 03:13] darrelmiller commented on #388
I just pasted your sample document into the workbench tool and it parsed it in 179ms from a cold start.  30ms, the second time.

![image](https://user-images.githubusercontent.com/447694/54250914-f8ac8480-451b-11e9-9282-b51243546ed5.png)

We have been able to successfully parse this 22MB OpenAPI document that is full of inheritance relationships in under 10 secs.  https://github.com/microsoftgraph

[2019-03-13 09:10] sbacquet commented on #390
Hello Darrel,

Thanks a lot for investigating.
May I suggest to add a unit test to cover this case ? ;)

Thanks again!

[2019-03-13 14:50] huaxing-yuan commented on #390
Hello, i think i'm running into a similar scenario the response schema reference is empty.
The bug is introduced in the package v1.1.2. I rolled back to v1.1.1 the schema is now read correctly.

This is part of my swagger v2 document
[code]

[2019-03-13 16:51] darrelmiller commented on #390
@huaxing-yuan Thanks for the additional info, I suspected it was a regression.  And yes @sbacquet I'll make sure that our test cases are updated to account for this.

[2019-03-13 23:22] PerthCharern commented on #379
@PavelZav We are finalizing the details about this. There is a bit of ambiguity (or unclearness) in the spec, so we got this incorrectly in the current version. It should be fixed soon.

[2019-03-13 23:25] PerthCharern commented on #386
Related issue: #379.

This still hasn't been completely fixed I think. Reposting my comment from the PR since it already got merged: https://github.com/Microsoft/OpenAPI.NET/pull/387#discussion_r265248942

[2019-03-14 01:23] darrelmiller commented on #386
@PerthCharern   I'm ok with storing OpenApiBinary as a byte array, but shouldn't we do Encoding.UTF8.GetBytes(string) considering JSON is UTF-8 and probably 99.99% of yaml files are also UTF-8.  I agree with your solution to OpenApiByte.

[2019-03-14 01:56] PerthCharern commented on #386
Agree with you. The UTF-8 encoding makes more sense.

All that said, this Binary type seems pretty useless since in the doc it's just serialized as a normal string, representing itself - the only benefit our model is offering is converting and storing it into byte[].

From the spec standpoint, is there really any difference when someone specifies a string as string without format vs string with Bi

[2019-03-14 02:31] darrelmiller commented on #386
@PerthCharern From the spec standpoint, the format means nothing.  It is purely a hint to tooling on how to interpret the data.  IT doesn't affect the wire format, or how the HTTP request is made.  Tooling can choose to validate data based on the format, but there is no requirement in the spec for this.
This is a very loose solution that was designed to avoid having to go down the rathole of defin

[2019-03-14 11:30] PavelZav commented on #379
Thanks

[2019-03-14 17:56] PerthCharern commented on #386
@darrelmiller That makes sense. My original thought was more like - to those tools that read the spec, what's the difference between "string : binary" and just "string". I guess I answered my own question though since our tool recognizes the different nature of the underlying data and is now storing them differently too :)

[2019-03-14 22:44] PerthCharern commented on #379
FYI: @xuzhg sent out a PR for this (#391).

[2019-03-18 14:18] aslivker commented on #388
Please see attached Visual Studio project that clearly shows this issue.
Regards,
Andrew
[OpoenAPI-Issue.zip](https://github.com/Microsoft/OpenAPI.NET/files/2978593/OpoenAPI-Issue.zip)

[2019-03-22 07:36] nickeeex opened #392 "Overriding top-level security with a empty operation level security array"
The OAS specifies the operation level security object as follows:

A declaration of which security mechanisms can be used for this operation. The list of values includes alternative security requirement objects that can be used. Only one of the security requirement objects need to be satisfied to authorize a request. This definition overrides any declared top-level security. _To remove a top-level

[2019-03-23 21:00] martincostello opened #393 "Descriptions are omitted for schema references"
If a property of a definition references another defined type via a reference, the description for the property is not written to the schema.

This means that specificity in a document for a description for a type of a property is not serialized to the schema.

This is because if the `Reference` property is non-null, it is the _only_ property serialized.

https://github.com/Microsoft/OpenAPI.NET/b

[2019-03-25 01:59] darrelmiller commented on #393
@martincostello  Unfortunately that is by design.  The JSON Reference specification does not allow any keys to be by the side of it.  The OpenAPI TSC is currently working on a new mechanism that may allow something equivalent in the future but currently it is not allowed.  I know AutoREST supports it, but it is not valid OpenAPI.

[2019-03-25 07:09] martincostello commented on #393
That’s a shame.

I did try out a V2 schema validator before opening this issue, which appeared to have no issues with the description being present, as well as trying to look up the rules in the spec, but I couldn’t seem to find anything that stated it was forbidden.

[2019-03-25 14:45] darrelmiller commented on #393
@martincostello   It isn't the easiest thing to find.  If you see [here](http://spec.openapis.org/oas/v3.0.2#fixed-fields-18) it says:

[2019-03-26 18:40] linelson opened #394 "Nullable path param with default value 'null' causes error for valid doc"
The OpenAPI.NET library fails to parse the following valid doc:
[code]
The error produced is  "Data and type mismatch found. [#/paths/~1test~1{id}/get/parameters/0/schema/default]". The document appears to be a valid Open API 3 document per the spec. It appears to be complaining about
[code]

Library version: 1.1.2

[2019-03-26 19:01] #393 closed

[2019-03-26 19:02] darrelmiller commented on #394
Hmmm, curious.  I just ran the workbench tool from the current master branch and I was able to parse it.

![image](https://user-images.githubusercontent.com/447694/55025821-111aa580-4fd8-11e9-9814-a7243901b482.png)

It is possible this was one of the bug fixes since 1.1.2

[2019-03-26 20:14] linelson commented on #394
Apologies, I posted the incorrect version of the document. Here is the correct one for reproducing this issue:

[code]

Note that 'bool' has been changed to 'boolean'. I also cannot repro with the spec I posted originally.

[2019-03-26 20:23] darrelmiller commented on #394
Ahh, yes.  So in 1.12 we had a PR that validated the default value based on the data type.  This looks like an edge case that was missed.  However, I believe we have since pulled those changes because the spec does not require the default value to match the schema.  It says, the default SHOULD be valid, but the document is not invalid if it doesn't.  I need to investigate what the current state of

[2019-03-27 03:56] divyanshmethi opened #395 "How to read examples after parsing the file."
Hi,
I have problem related to example object
I have tried defining example

1. as a part of schema

schema:
            type: string
            pattern: '^\d{3}-\d{4}$'
            example: "hello"

2. as separate object.

components:
  schemas:
     MyComponent:
        type: object
        properties:
           id:
              type: integer
        example:
           id: 1

cmd:
OpenApiDocu

[2019-03-28 04:40] nitinkathpalia09 commented on #395
I'm facing the same issue.

[2019-03-28 21:47] Shwetap05 commented on #395
@divyanshmethi do you want to read those value as string? If so then you can use below code
[code]

[2019-03-29 11:10] ManelBH opened #396 "Serializing as Json produces invalid Json for numeric types depending on culture"
If the CurrentCulture uses comma separators for decimals the json serializer will produce a json with invalid comma separated numerics (e.g. maximum and minimum fields in schema) It should produce a valid json regardless of culture.

[2019-04-01 09:32] divyanshmethi commented on #395
Thanks @Shwetap05

[2019-04-01 09:32] #395 closed

[2019-04-01 10:40] deniszykov opened #397 "When is the next release?"
There are bugs that are blockers in 1.1.2 and fixed in current development branch. I want to know when the next version will be released.

[2019-04-02 06:01] pratap-dotnet commented on #271
This solved my requirement
[code]
Passing this as referencevisitor instance while parsing the document worked for me, i was able to serialize all the properties of the response.

[2019-04-02 16:29] aslivker commented on #388
Do you have an update on this issue? Please see the latest message with attachment with complete example of a proven issue. We do not have any responses in 15 days now while this remains a blocking issue that prevents many customers from using this library.

[2019-04-08 10:51] ManelBH commented on #396
A concrete example:

[code]

Exception message:

Json string section:
[code]

[2019-04-10 02:04] darrelmiller commented on #397
I believe we should get #390 fixed before we release a new version.  @VitaliyKurokhtin said that he might have time to take a look at it.

[2019-04-10 02:05] darrelmiller commented on #396
I believe this issue is fixed with the PR #385 We just need to get a new release out.

[2019-04-10 02:14] darrelmiller commented on #386
Fixed in #391

[2019-04-10 02:14] #386 closed

[2019-04-10 02:23] darrelmiller commented on #388
@aslivker  I guess your doc has some scenario that the 1.1.2 version doesn't like.  I was able to reproduce your issue.  I built a 1.1.3-preview nuget and ran your test on that and it completed very quickly.
I will try and get a new release out as soon as we get issue #390 fixed.

[2019-04-10 03:45] VitaliyKurokhtin commented on #397
I will try to do that tomorrow.

[2019-04-10 22:31] VitaliyKurokhtin commented on #397
Here you go #398

[2019-04-10 22:32] VitaliyKurokhtin commented on #390
Should be resolved by #398

[2019-04-11 10:41] deniszykov commented on #397
Thanks @VitaliyKurokhtin for quick fix!

Looking forward to release

[2019-04-12 21:22] PerthCharern commented on #394
@darrelmiller We haven't pulled those changes I believe. We still allow the document generation to go through, just with errors. It might be the right time to introduce Warnings (to be used for SHOULD cases). I think you suggested this a while back but I can't seem to locate that.

[2019-04-12 21:25] PerthCharern commented on #394
That aside, I think this one is a MUST, not a SHOULD:

default - The default value represents what would be assumed by the consumer of the input as the value of the schema if one is not provided. Unlike JSON Schema, the value MUST conform to the defined type for the Schema Object defined at the same level. For example, if type is string, then default can be "foo" but cannot be 1.

[2019-04-14 16:26] darrelmiller commented on #394
@PerthCharern My apologies...  I didn't think the spec had a MUST there.  I need to go back and look at the scenario where I was ignoring this errors.

I agree we should look into the idea of Warnings.

I aslo need to investigate why using "bool" as a type didn't give an error.

[2019-04-15 00:57] PerthCharern commented on #394
No problem at all :)

Regarding the "bool" issue, we don't have a validator that checks the validity of the type name itself.

The current check for `default` only gets triggered when the `type` + `format` combo is something we recognize.

[2019-04-17 00:05] PerthCharern opened #400 "Consumes in global context is not propagated to the request body"
`consumes` in global context is not propagated to the request body

We need to fix it in a similar way to how we fixed `produces` in #267 and #398.

[code]

With the above document, the media type added to POST does not respect the "application/json" defined in the global level.

[2019-04-19 00:59] #394 closed

[2019-04-19 01:52] PerthCharern commented on #397
v1.1.3 is now live on NuGet.org.

[2019-04-19 01:52] #397 closed

[2019-04-22 16:16] rwrife opened #402 "Schema array type with anyOf and discriminator fails validation"
I'm trying to validate an OpenAPI document that contains a schema object that is of type 'array' that can be an 'anyOf' that uses a discriminator to know which object goes into the array and it's failing validation.  The document appears to be a valid OAS3 document and the Swagger UI has no issues rendering it, so I'm guessing it's an issue with OpenAPI.NET.

I'm getting validation errors similar

[2019-04-25 20:52] ArthNRick opened #403 "Schema ref to wrong location"
(sorry my bad english)

to create types that will be referenced I need to add the schemas in the "Components" property of the document, but in v2 (Swagger) files they should point to the "definitions" property. The schemas are created correctly in "definitions", but the references point to "#/components/schemas /", when correct it would be "#/definitions/"

![image](https://user-images.githubuserc

[2019-04-26 18:08] #403 closed

[2019-04-27 02:55] darrelmiller commented on #390
This fix should be available in 1.1.3

[2019-04-27 02:55] #390 closed

[2019-04-27 02:56] darrelmiller commented on #396
Fixed in 1.1.3

[2019-04-27 02:56] #396 closed

[2019-04-27 02:57] darrelmiller commented on #388
1.1.3 has been released

[2019-04-27 02:57] #388 closed

[2019-04-28 18:32] PerthCharern commented on #402
I think currently that rule only looks at the properties in the schema itself without delving into the properties in the anyOf/allOf. This is a bug in our validator.

[2019-04-28 18:36] PerthCharern commented on #383
#384 should partially fix this, but I think there's still the same bug with #402 that remains. We are not looking into the properties of the children schema to check the `required` properties.

[2019-04-28 18:36] PerthCharern commented on #379
I'll close this. Please reopen if there are still any issues.

[2019-04-28 18:37] #379 closed

[2019-04-28 18:38] PerthCharern commented on #373
I'll close this. Please feel free to reopen if you have more questions or concerns.

[2019-04-28 18:38] #373 closed

[2019-04-28 18:40] PerthCharern commented on #377
I'll rename this issue

[2019-04-28 18:42] PerthCharern commented on #371
It looks like the issue should have been solved by #368 and the NuGet package has been published. I'll close this issue - please feel free to open if the bug is still not fixed.

[2019-04-28 18:42] #371 closed

[2019-04-28 20:55] mattfrear commented on #377
FWIW someone told me that

So that has solved the problem for me for now. I'm happy if this issue gets closed.

[2019-04-28 22:13] #377 closed

[2019-04-29 12:09] sbacquet commented on #390
I confirm it's fixed, thank you !

[2019-05-02 06:57] srev-saxo opened #405 "Walker does not visit OpenApiEncoding.Headers"
The OpenApiWalker.Walk(OpenApiEncoding) does not visit the OpenApiHeaders in the Headers property. See the following code:

[code]

[2019-05-06 15:57] jrouaix opened #406 "Resolve remote references in v 1.1 ?"
Hello,

I had the hope to replace our nasty json swagger v2 merge with your shiny lib but I ran into some trouble : https://github.com/Microsoft/OpenAPI.NET/blob/5742db6b5f0f8bd9990fbf43a7e03a8b0b6f674a/src/Microsoft.OpenApi.Readers/Services/OpenApiReferenceResolver.cs#L229-L236

Do you plan to reschedule this feature to a close future ?
(the code that I hope to get rid of is right here : https://

[2019-05-06 17:31] darrelmiller commented on #406
I have a branch dm/openapiworkspace that is designed to deal with multiple related documents.  I haven 't had chance to work on it for a while.  Hopefully I can get back to it soon.

[2019-05-14 22:17] selman92 opened #407 "format:int64 parameter throws data mismatch error"
While parsing this document:

[code]

I am getting this error in diagnostics:

`Data and type mismatch found. [#/paths/~1users/post/requestBody/content/application~1xml/example/id`

If I remove `format:int64 `in the `id` definition, the error goes away. I don't understand what's wrong here, how should int64 format look like? 10 is not a valid value in long format??

Version 1.1.1 didn't throw this

[2019-05-30 20:52] mispeer opened #1005 "Nullable structured types/Entities/Enums are not supported for spec version 2"
*Short summary (3-5 sentences) describing the issue.*
Currently when choosing to serialize to OpenApiSpec version 2 complex, entity, and enum types have null references. For Enums and Entities, this is always true. This is only true for Structured types when they are nullable.

### Assemblies affected
Reader
*Which assemblies and versions are known to be affected?*
All, as the Reader itself is imp

[2019-05-30 21:17] mispeer opened #1004 "Schema Primitive types use AnyOf (not supported in OpenApiSpec V2)"
*Short summary (3-5 sentences) describing the issue.*
AnyOf is used in the schema for primitive types, regardless of OpenApiSpec version. In spec version 2, AnyOf is not supported
### Assemblies affected
Reader
*Which assemblies and versions are known to be affected?*

### Steps to reproduce
Unknown currently, though likely diffing any model with the impacted types (Double, etc.) would should an i

[2019-06-20 17:43] mattfrear commented on #377
Hi so this doesn't actually fix my issue after all. My example gets rendered as a JSON encoded string. So instead of:
[code]
I get
[code]
Could you reopen this issue please?

Related issue:
https://github.com/mattfrear/Swashbuckle.AspNetCore.Filters/issues/99

[2019-06-24 08:13] WarpSpideR opened #408 "Unable To Provide Json Example"
Hi folks,

I've been working on an [issue](https://github.com/mattfrear/Swashbuckle.AspNetCore.Filters/issues/99) over at a repo using this project and have come across a shortcoming whereby we can't provide a preformatted JSON example.

We're trying to supply a preformatted example such as:
[code]

However, using an `OpenApiString` we get the following output:
`"example": "{\r\n  \"error\": {\r\n

[2019-06-28 09:09] MikeBeaton commented on #393
I've come across this as well. It's frustrating (specific details follow). I do realise from the above that this is not something controlled by this project, but I am not sure where else to post a comment that might be heard.

A `string`, `int` or `bool` property can have a description of what it is for, but it seems wrong that a custom `Address` type property, say, should not also have a descript

[2019-06-28 09:51] MikeBeaton commented on #393
See also: https://github.com/OAI/OpenAPI-Specification/issues/556

[2019-07-03 15:49] ayungan opened #409 "How can I resolve remote references?"
How can I resolve remote references?
Hi, I would like to resolve remote references, could someone help me please

[2019-07-09 11:32] deltafsdevelopment opened #410 "<< is not a valid property - support yaml merge keys"
Hi

Currently the reader does not support the use of yaml "<<" [merge keys](https://yaml.org/type/merge.html)

Repo:

        [Fact]
        public void TestMergeKeysOnParameters()
        {
            // Arrange
            OpenApiDocument document;
            var diagnostic = new OpenApiDiagnostic();

            String spec = @"
              openapi: 3.0.0
              info:

[2019-07-10 23:13] Cloudmersive opened #411 "Extension mechanism is broken"
Just want to add "x-ms-summary" (which ironically is Microsoft-based) to a Parameter but the AddExtension mechanism requires me to write a whole IOpenApiExtension class and go through a writer.  I just want to add custom key/value pairs.

[2019-07-10 23:15] Cloudmersive commented on #411
This is how it should be done for reference: https://github.com/tavis-software/Tavis.OpenApi/blob/master/src/OpenApi/Model/Parameter.cs

[2019-07-26 12:25] adrientoub opened #414 "OpenApiComparer is not implemented"
Hello,

My team is using this repository to generate our OpenAPI document, and we started using the [OpenApiComparer](https://github.com/microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Services/OpenApiComparer.cs) recently in our project. This method returns a value so we believed it was working until recently when after making a change this still returned an empty list.

After looking at

[2019-08-09 14:00] ShaunLoganOracle opened #415 "Schema reference not parsed as expected, results in circular reference"
It looks like there is an issue parsing schema references of a certain structure in an OA3 json document.  The problem manifests when schema A is defined (only) as ""$ref":"#/components/schemas/B".  in this case, the OpenApiDocument.Components.Schemas entry for A, has an UnresolvedReference, but the Reference.Id is #/components/schemas/A.

To demonstrate this using PetStore (OA 3, json), I have ma

[2019-08-16 21:56] zxli commented on #393
I feel I'm facing similar issue. I create OpenApiResponse with both description and reference set. And description is not in the serialized content. The problem is AutoRest is expecting description and will fail to generate client if description is not in the input. With this issue present, it looks like I cannot make the generated Swagger definition work in AutoRest by default.

Here is the imple

[2019-08-18 03:01] darrelmiller commented on #393
@MikeBeaton Newer versions of JSON Schema have introduced a major distinction between the notion of annotations and constraints.  By doing this they have enabled merging of annotations but remove the problem of trying to figure out how to merge constraints.  Descriptions are considered annotations and not constraints.

We are currently trying to figure out if we can safely adopt JSON draft-8 in Op

[2019-08-22 14:39] khellang commented on #411
Can't you just do `.AddExtension("x-ms-summary", new OpenApiString("blah"))`?

[2019-08-23 03:34] darrelmiller commented on #415
I'll need to dig into this a bit further but there is something in your example that does not look right.  The way schema resolution works is references are replaced with the object they point to.  Therefore schema1 and schema2 become the same object instance.  That is why the Reference Ids match.  I'm not sure why schema2.UnresolvedReference is true though.

[2019-08-23 03:49] darrelmiller commented on #414
Huh!  I had no idea.  I don't whether it is in finished enough to consider merging in.  If it is I can create a PR based on it.

[2019-08-23 03:51] darrelmiller commented on #409
That capability isn't finished yet.  The current work is in the openapiworkspace branch

[2019-08-23 03:56] darrelmiller commented on #408
I think this could work.  How would you feel about calling it `OpenAPIJsonLiteral`  or `OpenAPIJsonString`?

[2019-08-23 03:59] darrelmiller commented on #410
The OpenAPI spec only supports YAML that uses the [JSON Schema](https://yaml.org/spec/1.2/spec.html#id2803231).  This ensures OpenAPI descriptions can be roundtripped between JSON and YAML.

[2019-08-23 04:02] darrelmiller commented on #407
This definitely seems like a bug to me.  I actually don't think we should be returning errors at all for examples that don't match the schema.  They should only be warnings.  However, what you are showing is worse because you actually have a valid number.

[2019-08-23 14:50] WarpSpideR commented on #408
I don't have any objections to the name change. In theory, it should only be JSON data that is affected, other formats would expect to be enclosed in quotes.

I think `OpenAPIJsonLiteral` sounds like a better fit. If you're in agreement I can go ahead and submit that amended pull request?

[2019-09-02 21:19] darrelmiller commented on #408
@WarpSpideR Sounds good to me.

[2019-09-09 13:36] wpbrown opened #416 "V2 Reader is not thread safe"
OpenApiV2Deserializer ParameterDeserializer partial uses static state (`_isBodyOrFormData`) that produces incorrect documents when completely separate `OpenApi*Reader` instances are used in different threads.

There may be other cases of misuse of global static state that I haven't found yet.

[2019-09-15 16:22] #416 closed

[2019-09-15 18:19] darrelmiller commented on #411
I'm going to assume this is the fault of me not actually writing any documentation for this library.  I really should do that.  I'm going to close this issue and @Cloudmersive  can you let me know if this is still an issue for you?

[2019-09-15 18:19] #411 closed

[2019-09-15 18:43] darrelmiller commented on #415
I made some progress towards fixing this but the current solution loses the reference to AllPets and replaces it with a reference to Pets.  That will work, but one of the goals of the library is that parsing should not be lossy, so I need to completely fix this.

[2019-09-20 15:40] jchannon opened #419 "Json serilaization options"
Would it be possible to have an overload so we can pass our own serialization settings in? Perhaps the new System.Text.Json.JsonSerializerOptions and/or JSON Net settings?

[2019-09-24 16:10] jsep925 opened #420 "format:Date and zipcode string in response example throws data mismatch error"
While parsing one  document which have example in responses:

 "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ApiSuccessResponseAddressLookupResponseType"
            },
            "examples": {
              "application/json": {
                "meta": {
                  "app": "Vertex REST API v0.1.0",

[2019-09-25 08:32] Backs commented on #414
Any new information? Looks lite this code is productoin ready and was added 2 year ago, but still not in master

[2019-09-25 15:12] jchannon opened #421 "ASP.NET Core 3 support"
When calling `document.SerializeAsJson(context.Response.Body, OpenApiSpecVersion.OpenApi3_0);` you will get an error:

[code]

This is a new feature in ASP.NET Core 3 that only allows async writing to the stream

[2019-09-25 19:38] darrelmiller commented on #419
For writing?  What kind of settings would you like to change?  We wrote our own JSON/YAML writer to avoid the dependency on JSON.NET.

[2019-09-25 22:59] jchannon commented on #419
Maybe just camelCase option at least

On Wed, 25 Sep 2019 at 21:38, Darrel <notifications@github.com> wrote:

[2019-09-30 19:00] jchannon commented on #421
I've started work on sending a PR.

It's turning into a mammoth PR as extension methods come off extension methods etc

Basically I'm adding Async method suffixes which seems to touch everything

[2019-10-02 16:39] dansoper commented on #392
I've just stumbled upon this bug too, and it affected me because I wanted to be able to define a single route without security.

Looking at the source here, I can see the problem
- OpenApiOperation.Security is initialized as an empty List.  Would there be any harm if it was initialized as null?  I guess this would be a problem as soon as someone wants to do Security.Add() without realising it hadn

[2019-10-10 22:54] vfedonkin opened #423 "Quoted string parsed as number when in array example"
Data and type mismatch found. [#/paths/~1test/get/responses/200/content/application~1json/schema/example/0/notes]
Only happens when **"type: array"** used.

Works well when
**- notes: '12345'**
replaced to
**- notes: 'x12345'**

Schema:

openapi: 3.0.0
info:
    title: This is a simple example
    version: 1.0.0
paths:
  /test:
    get:
      summary: Test.
      responses:
        '200':

[2019-10-15 13:31] ShaunLoganOracle opened #424 "Request to update dependency on SharpYaml to newer version"
We are using version 1.1.4.0 of OpenApi.NET via Nuget package manager in Visual Studio.  There is a dependency on SharpYaml version 1.6.1.  SharpYaml has released newer versions (eg. 1.6.5).  This is a request to update the dependency in OpenApi.NET to a newer/the newest version of SharpYaml.  Reasoning: to get the benefit of bug fixes, security patches, etc.

[2019-10-18 01:59] pechkarus opened #425 "SerializeAsV2 produces invalid swagger (when SerializeAsV3 is valid)"
When creating Open API document and specifying schema reference for enum in query parameter (as oppose to define schema in place) invalid Swagger is generated for OpenAPI/Swagger **v2**, on the other hand **v3** document is perfectly valid.
Correct me if I am wrong, but schema of parameters in v2 should be defined in place and cannot be referenced. However it adds additional burden on the authors

[2019-10-23 19:57] Trekkan opened #426 "Swagger 2, no host or basepath values"
It seems these are combined into a "servers" object.  However that object concats these two values together, opening the door for mistakes.

Basically, the concat value is great, but please preserve the original host and basepath values as different properties on the server object.

[2019-10-29 08:15] jbroenstrup opened #427 "Required attribute of non-required query parameters does not get rendered"
I am a bit confused concerning the openapi serialization.

This code

[code]

creates this openapi definition:

[code]

But if I set the parameter to be not required, the required property is missing from the openapi definition of the parameter entirely.

This is a problem, because the third party tool I am using to generate client code for this API depends on said required property to always bein

[2019-11-08 22:52] nth-commit opened #428 "OpenApiSchema.SerializeAsV2WithoutReference does not recursively serialize references"
Version 1.1.4

Given the document:

[code]

When serializing the schema referenced by the path "/foos"

**Expected:**

[code]

**Actual:**

[code]

[2019-11-12 05:09] mmcmasterd3 opened #429 "Incorrect data-type errors for valid response examples"
Errors are thrown if a response example is given for a string property defined in a schema that also happens to parse as a number.

The following produces the error `Data and type mismatch found. [#/paths/~1test/get/responses/200/content/application~1json/example/BrokenProperty]`

[code]

[2019-11-12 19:20] nth-commit commented on #428
I was trying to imagine a use-case where someone would call `SerializeAsV2WithoutReference` and not want nested references to be denormalized, and I couldn't. However, in the code, there is a situation where this would happen.

Given the JSON schema:
[code]

When `SerializeAsV2` is called on the root, the code will see that there's no reference, and then go into `SerializeAsV2WithoutReference`, wh

[2019-11-13 20:59] DerekChasse commented on #428
I'm actually looking at accomplishing exactly this, so thank you for starting the discussion.

Is there a solution which would account for circular references?

[code]

[2019-11-14 03:03] nth-commit commented on #428
@DerekChasse ahhhhhhh good point. I think my change in #430 would stack overflow on circular references. I think that is what the applicator [$recusiveRef](https://json-schema.org/draft/2019-09/json-schema-core.html#recursive-ref) is for? I'm not a JSON schema expert, however.

So given this Open API schema (simplified slightly from mine and your examples above):

[code]

Then serializing the the

[2019-11-14 23:58] nth-commit commented on #428
FYI @DerekChasse, I updated my PR to at least throw when a circular reference is detected. Will wait to hear from the maintainers before I implement anything fancy to do with denormalizing circular references.

[2019-11-15 15:06] DerekChasse commented on #428
@darrelmiller Could you provide some insight as to how `IOpenApiReferenceable` is intended to behave here?  Is it's intent to do what @nth-commit is attempting to solve here?

[2019-11-15 16:39] darrelmiller commented on #428
Hey folks!  Sorry I don't have the time right now that this issue deserves but I think I might be able to shed some light.

"SerializeAsV2WithoutReference" is not supposed to do what it sounds like you want it to do.   You want to inline all references.   Actually, so do I as we need that to support PowerPlatform.  However, my plan is to implement that with a new Visitor.

If my memory is correct,

[2019-11-15 16:53] DerekChasse commented on #428
Awesome, thanks for the clarification, and shining the light on how difficult this could end up being.  It's not hard to imagine how it could easily become a very slippery slope, especially with external references.

That being said, I think that there is still value in pursuing a solution to this, perhaps without re-inventing how SerializeAsXXXWithoutReference works.

Thanks,
~Derek

[2019-11-15 16:57] darrelmiller commented on #428
@DerekChasse Yeah, external references would start to get a bit wild.   FYI, there is a branch here called OpenApiWorkspace that I'm hoping one day will support multiple OpenAPI documents and fragments that can all be referenced.
I think either me or one of the devs on our team is going to try and implement an inlining visitor sometime before the end of the year.   If you wanted to give it a shot

[2019-11-17 18:41] nth-commit commented on #428
Hey @darrelmiller, thanks for the thought out response.

My fairly uneducated implementation in #430 simply writes out _what has already been resolved in the component tree_. This is possible, because during deserialization, not only are the particular objects created with a reference field set, the schema properties from the reference are actually copied over. Because of the way that it currently

[2019-11-17 19:19] nth-commit commented on #194
Here's an exhaustive list of the unsupported properties:

- exclusiveMaximum
- exclusiveMinimum
- maxItems
- minItems
- uniqueItems
- multipleOf

[2019-11-26 11:10] daniel-munch-cko commented on #421
Hi,
we're using the lib in the same context and have the same error on ASP.NET Core 3 - Obviously we can allow synchronous IO (`AllowSynchronousIO = true`), but on the long run we'd like to disable this.

Any chance the linked PR gets some traction? Happy to give a helping hand regarding tests etc. if needed!

Thanks,
Daniel

[2019-12-06 00:58] nate141 commented on #377
can anyone give an example how to write one myself?

[2019-12-07 23:46] darrelmiller commented on #429
Thanks for the bug report.  @VitaliyKurokhtin  has a PR #431 that will fix this.

[2019-12-11 09:10] mattfrear commented on #377
@nate141 I am doing that on my project, you can find the code here. See this PR (I didn't write it so don't ask me about it).

https://github.com/mattfrear/Swashbuckle.AspNetCore.Filters/pull/100/files

[2019-12-18 07:41] cgreenza opened #440 "OpenApiDocument.SerializeAsV2 throws UriFormatException when OpenApiServer.Url contains only a path"
`OpenApiDocument.SerializeAsV2` throws the following exception when `OpenApiServer.Url` is set to a path only e.g. `doc.Servers = new List<OpenApiServer> { new OpenApiServer { Url = "/api" } }`

[code]

`OpenApiDocument.SerializeAsV3` works fine with server URLs that contain only a path.

The OpenAPI V2 Specification allows for independent setting of [`basePath`](https://github.com/OAI/OpenAPI-Spe

[2019-12-23 11:39] AlbertoSadoc opened #441 "OpenApiOAuthFlow serializes unescaped Uris, which creates non-compliant Uris"
## Simplified repro
[code]

-------------------------------------------

When serializing the Uri objects with ToString() all characters are unescaped and a generated Uri can become non-compliant with [RCF3986](https://tools.ietf.org/html/rfc3986#appendix-B)

https://github.com/microsoft/OpenAPI.NET/blob/578e5870d299992b9cd8414c1a1e655a56e0403c/src/Microsoft.OpenApi/Models/OpenApiOAuthFlow.cs#L57-

[2019-12-29 23:06] darrelmiller commented on #441
The AuthorizationUrl can be a [relative reference](http://spec.openapis.org/oas/v3.0.2#oauth-flow-object) and therefore you can't use AbsoluteURI on the value.  As OpenAPI descriptions are intended for users to create by hand, it was decided not to require those users to escape references.  It should be up to the tooling to ensure the URLs are properly escaped before using them.  I think I would p

[2019-12-29 23:21] darrelmiller commented on #440
Thanks for reporting this.  I was able to reproduce the issue you described and agree it is a bug.

[2019-12-29 23:25] darrelmiller commented on #427
Hmm, that's unfortunate.  The `required` property is only required when the `in` property is set to `path`.    http://spec.openapis.org/oas/v3.0.2#fixed-fields-9

What is the tool that you are using?  Maybe we can convince them to fix their tool.

[2019-12-29 23:27] darrelmiller commented on #426
That is not how the OpenAPI V3 specification has been defined..  However, you should be able to take the Server.Url and use standard URL parsing logic to separate the host and path.

What is the reason why you are trying to keep those values separate?

[2019-12-29 23:29] darrelmiller commented on #421
I'm going to try and take a look this week.

[2020-01-04 19:13] darrelmiller commented on #414
This code has been merged into the vnext branch.  I would like to include it in the v1.2 release but there are still some failing tests.  I have marked them as skip for the moment, but they need to be fixed before we can release.

[2020-01-04 19:15] darrelmiller opened #444 "Components that are references to other components do not serialize properly."
This does not work properly.
[code]

[2020-01-04 20:18] darrelmiller commented on #425
Hey @pechkarus .  Sorry for the extremely slow response.  In cases like these, please don't hesitate to ping me on twitter.  My GitHub notifications are a mess.

It turns out that this issue lead me to quite the bug in our current release that I have been able to resolve.

However, you can easily avoid the bug in 1.1.4 by constructing the OpenApiDocument a slightly different way.  Instead of creat

[2020-01-04 21:32] darrelmiller commented on #444
This is a duplicate of #415

[2020-01-04 21:32] #444 closed

[2020-01-04 21:41] #415 closed

[2020-01-06 03:04] #424 closed

[2020-01-06 03:29] #440 closed

[2020-01-08 11:00] cgreenza commented on #440
Thanks for looking into this Darrel. Appreciate your speedy response and resolution.

[2020-01-08 20:51] vfedonkin commented on #423
Fixed by @VitaliyKurokhtin , expected to be published in new nuget version

[2020-01-08 20:51] #423 closed

[2020-01-09 22:12] Oceania2018 opened #450 "Can't find BasePath property in OpenApiDocument"
[code]

This should work for `doc.BasePath`.
[code]

![image](https://user-images.githubusercontent.com/1705364/72649151-7c0be300-3942-11ea-82c0-39a3202756e3.png)

https://swagger.io/docs/specification/2-0/api-host-and-base-path/

[2020-01-13 02:52] #428 closed

[2020-01-14 00:43] jpactor opened #451 "I have a custom parameter attribute and want it to cause Swagger to display the request body input."
Scenario:
My application reads the entire request body as a byte array and saves it to a database. To do this, I created a custom model binder that reads the request body and passes it along; I associate that binder with a custom attribute, "RawBody". This behavior works as expected: The controller action's method parameter receives the body as a byte array and I pass it along to my DAL.

I would

[2020-01-24 10:44] HuNtR-RSA opened #454 "Package Microsoft.OpenApi 1.1.4 is not compatible with netcoreapp3.1 (On Azure Devops)"
We keep on getting the following error when building an API (with Swagger) project on Azure Devops:

Package Microsoft.OpenApi 1.1.4 is not compatible with netcoreapp3.1 (.NETCoreApp,Version=v3.1). Package Microsoft.OpenApi 1.1.4 supports:
      - net46 (.NETFramework,Version=v4.6)
      - netstandard2.0 (.NETStandard,Version=v2.0)

[2020-02-03 11:16] aliostad commented on #307
Sorry, is this repo dead? So many open issues for long.

[2020-02-05 21:19] #450 closed

[2020-02-07 18:33] ozziepeeps opened #456 "Duplicate extensions in V2 JSON"
Hi,

I have a pre-existing API that is exposed as OpenAPI using Swashbuckle for ASP.NET Core. I have a bunch of vendor extensions that get added to the API definition via Swashbuckle's operation filters, schema filters etc.

When migrating to Swashbuckle v5 (and therefore OpenAPI.NET v.1.1.4) and serializing to V2 format (for backward compatibility with clients expecting OpenAPI/Swagger v2 format)

[2020-02-07 20:27] jason-runzer commented on #429
Hi @darrelmiller , is there any eta when 1.2.0 is going to be released? I am also having this issue with my examples when importing into the UI.

[2020-02-07 20:40] darrelmiller commented on #429
I will review any new issues and do some more testing over the weekend. Perhaps early next week?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: jason-runzer <notifications@github.com>
Sent: Friday, February 7, 2020 3:27:11 PM
To: microsoft/OpenAPI.NET <OpenAPI.NET@noreply.github.com>
Cc: Darrel Miller <Darrel.Miller@microsoft.com>; Mention <mention@noreply.githu

[2020-02-07 20:48] jason-runzer commented on #429
That would be great! Thanks.

[2020-02-10 15:17] fabianmeyer commented on #288
Hi, any update on this issue?

[2020-02-10 15:20] darrelmiller commented on #288
@fabianmeyer Sadly I have no good news.  The inlining of references took priority over finishing OpenAPIWorkspace and getting support for external references.  Hopefully, that can be next up.

[2020-02-10 15:26] darrelmiller commented on #456
Thanks for the bug report.  I will review the PR and if all looks good I will try and get it into our 1.2 release that is due for release very soon.

[2020-02-10 15:30] #456 closed

[2020-02-14 16:15] fearthecowboy commented on #393
Hey man, it was like that when I got here 🗡

[2020-02-14 16:20] darrelmiller commented on #393
Fear not @fearthecowboy , this will be allowed in 3.1 !

[2020-02-16 08:54] Robzilla commented on #429
I am also getting this when trying to import an open api 3.0.1 into the Azure API Management portal. Can I get an ETA on this? Over 3 months now and the impact quite large.

[2020-02-16 09:16] kimpenhaus commented on #429
same on our side - we had to change lots of exampleprovider just to make it work. all those example provider now showing grammatically wrong data.

thanks!

[2020-02-17 22:43] Robzilla commented on #429
Good find. The date parse breaks for me but used to work a few weeks ago. How did this get into production if the test is failing?

[2020-02-17 22:50] darrelmiller commented on #429
I have removed the example data validation from the default set of validators in 1.2.0.  This is not validation can be done during parsing.  It was also a mistake to try and strongly type the examples during parsing.  I'm not sure how we are going to fix in this in a non-breaking way.

[2020-02-18 19:20] ozziepeeps opened #458 "Extensions on OpenApiMediaType are not serialized to V2 format"
Hi,

Any vendor extensions added to `OpenApiMediaType` are not serialized to the V2 format.

I've got a fix for the issue which I'll file a PR for shortly. The PR includes a few changes to the unit tests to assert the desired behavior.

Thanks
Mark

[2020-02-23 19:58] Robzilla commented on #429
Guys I am trying to update an API is Azure API management that I previously deployed a few weeks ago. Now I am getting the incorrect data-type error for date examples when importing an updated api definition. Some of which are mandatory fields. The api definition passes validation in Swaggerhub fine. Now I have to demo the api to a client in 2 days using the Azure API developer portal but the API

[2020-02-23 20:40] SlavekRydval commented on #426
The reason could be that you must still maintain RestAPI 2.0.

[2020-02-24 23:04] VitaliyKurokhtin commented on #429
@Robzilla, technically this is not the place to discuss APIM issues. Feel free to open support ticket with description if the issue, there've been a couple of known ones for which general resolution is pending but we can speed things up for your service.

[2020-02-25 01:17] darrelmiller commented on #426
@SlavekRydval Sorry, I don't understand what you mean.  You can continue using the separate host and basepath if you are using OpenAPI 2.0.  It is only in OpenAPI 3.0 that it is merged together.

[2020-02-25 15:24] Robzilla commented on #429
Seriously, the API M guys say talk to the Open API guys and the Open API guys say talk to the API M guys. Regressing functionality in a major product offering seriously degrades confidence in MS. Can anyone offer an Eta on a fix. This functionality used to work. Just roll back the broken build.

[2020-02-25 16:22] darrelmiller commented on #429
@Robzilla VitaliyK is an APIM guy :-)  I believe APIM is currently working off a forked build of OpenAPI.NET so that they are not blocked by my slow release process.  I did a bunch of testing on 1.2.0 on the weekend and there are still some bugs I need to fix before we can come out of preview.  That will remove the data validations by default.
The change to make the example just parsed as a string

[2020-02-25 18:25] VitaliyKurokhtin commented on #429
@Robzilla, Really not sure why would anyone direct you to OpenAPI.NET, no matter where the issue is - APIM or OpenAPI.NET - it's not like you can fix it in either place. Event if you make a fix to OpenAPI.NET yourself you can't integrate it into APIM. So that definitely wasn't fair.

As it always goes with these things, this issue only affects some of our customers, so we're doing retakes on servi

[2020-02-26 08:17] SlavekRydval commented on #426
@darrelmiller Lets say the host+basepath is https://www.abcd.efg/hi/jk/lm. There are programmers who set https://www.abcd.efg/hi as a host and jk/lm as a path.

[2020-02-26 12:45] darrelmiller commented on #426
Well, that would be wrong because https://www.abcd.efg/hi  is not a host.  https://tools.ietf.org/html/rfc3986#section-3.2.2

[2020-02-26 21:54] Robzilla commented on #429
@VitaliyKurokhtin  here is the link from the issue in the API Management Portal thread where the issue was first reported (to my knowledge) last November. @DrReedo advises to raise the issue here.
(https://github.com/Azure/api-management-developer-portal/issues/294#issuecomment-575043583)
If this is incorrect where should this issue be raised?
As for the fix rollout, I am currently deploying to th

[2020-02-26 23:57] VitaliyKurokhtin commented on #429
Reporting issue originally to api-management-developer-portal portal was the right move on your side, since you being outside of the product cannot know whether the issue is in portal or on APIM server side. Once issue was identified to be not in portal asking you to direct it here was incorrect in my opinion.

The bug is indeed in OpenAPI.NET and APIM uses this library to facilitate OpenAPI impor

[2020-02-27 06:26] Robzilla commented on #429
@VitaliyKurokhtin
As for the fix rollout, I am currently deploying to the Australia East data centre. Any idea when the fix will reach there?

[2020-02-27 07:15] SlavekRydval commented on #426
I agree with you but customer is always right.

[2020-02-27 16:01] darrelmiller commented on #426
And the customer has the right to go and use a different free library created by developers in their free time.

[2020-02-27 18:28] VitaliyKurokhtin commented on #429
@Robzilla, fix should reach Australia East as a part of next update next week.

[2020-02-27 18:56] ma499 commented on #402
Are there any plans to fix this bug? This validator is now being used by Azure API Management when deploying APIs, and we are no longer able to deploy updates to our existing API to production because of this problem.

[2020-02-27 20:47] Robzilla commented on #402
Yes reported last November. Pretty big impact for me too. Apparently a fix is rolling out next week. See https://github.com/microsoft/OpenAPI.NET/issues/429
Bit scary when something this big stops deployments for a few months.

[2020-03-01 11:40] zijianhuang opened #462 "Not reading array property properly if the property is not required"
Here's a JSON example:
[code]

Test case:
[code]

However, if the property is included in `required`, the items is read property.

[code]

[2020-03-01 11:42] zijianhuang commented on #462
missing other stuffs in the cutdown version of pet.

No case.

[2020-03-01 11:51] zijianhuang commented on #462
full json of StringArray.json

[code]

[2020-03-01 11:56] #462 closed

[2020-03-05 15:46] #458 closed

[2020-03-05 19:12] irvinesunday opened #463 "Incorrect indentation of added section when serializing OpenAPI doc. as V2 with inline reference settings"
The _definitions_ section that gets added when serializing an OpenAPI doc as V2 gets indented - in the case of presence of cyclic references - hence rendering an incorrect yaml/json output.
The _definitions_ section is a top level scope object and should not be indented.

demo:

![image](https://user-images.githubusercontent.com/40403681/76016447-e2b68180-5f2d-11ea-9935-379bf542d311.png)
**yaml**

[2020-03-05 19:21] irvinesunday opened #464 "Components section not rendered when serializing OpenAPI doc as V2 with inline reference settings"
The _components_ section does not get rendered when serializing an OpenAPI doc as V2 with inline reference settings - in the case of cyclic references. This section gets added as a reference yet a _definitions_ section gets rendered.

demo:

![image](https://user-images.githubusercontent.com/40403681/76017232-52793c00-5f2f-11ea-8ae8-ecbce3efa223.png)

[2020-03-09 04:23] darrelmiller commented on #464
OpenAPI V2 docs do not have components sections.  There were however a bunch of issues with inlining in v2.  The 1.2.0-preview.2 release has a bunch of fixes for inlining a v2 document.

[2020-03-09 04:23] #464 closed

[2020-03-09 04:25] darrelmiller commented on #454
I experienced this same issue.  I had to update Nuget on Azure devops to a later version (5.4) before it worked for me.

[2020-03-10 12:20] #463 closed

[2020-03-12 17:53] korygin opened #467 "Missing body parameters in OpenAPI v2 document"
Hi,

We experience the issue with generating OpenAPI v2 (Swagger) documents which have multiple entries (media types) in the request body's content dictionary.  In such cases, produced documents do not have body parameters. If content dictionaries have a single entry then body parameters appear in the generated documents as expected. Is this behavior by design?

Thanks,

Alex

[2020-03-16 22:39] varghgeorge commented on #429
Any updates on this issue? Not able to add APIs to Azure now.

[2020-03-20 03:25] DTH-012 opened #468 "Apply OpenApi.Net to Api Document project in Asp.Net (Not Core)"
Hi,
Im currently using Swagger/Swashbuckle in Asp.Net (not core) for my Document Api project.
I want to apply OpenApi.Net to my project. But it's quite difficult.
I dont know how to apply based on your document/example.
Can someone give me more detailed document/example ?

[2020-03-20 03:31] DTH-012 commented on #468
f

[2020-04-02 03:52] darrelmiller commented on #468
What is it that you are trying to do?

[2020-04-02 03:54] darrelmiller commented on #467
Hi @korygin Would you be able to provide an example of either the document you are trying to generate or what you are trying to parse.  An OpenAPI V2 document can only have a single body parameter.  There can be multiple "produces" or "consumes" values, but there can only be one schema.  in a V3 document each media type object can have its own schema.

[2020-04-02 03:57] darrelmiller commented on #451
The RequestBody property on an operation is the body parameter.  You can use that to describe your request body.

[2020-04-02 04:00] darrelmiller commented on #429
The 1.2 release will be able to validate an example in the Schema object, but it will not be able to validate the example in the media type object.  Users should no longer see failures due to incorrect validation logic in the 1.2 release.

[2020-04-02 04:00] #429 closed

[2020-04-05 23:07] david-jessee commented on #407
So apparently its parsing the integers at strings since it sees them as an "any type"
This can be fixed in the current version by nesting the example inside of a value attribute (see below.  the attach function wasn't working).
However, if you do this then the swagger ui's don't work that well. When you past the below yml into https://editor.swagger.io/ it sees "value" as part of the output.

open

[2020-04-11 23:21] mattfrear opened #471 "No Request example with SerializeAsV2"
Swagger V2 supports examples on the request under `/paths/[path]/[method]/parameters/[index]/schema/example`
https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schemaExample

However, when rendering using SerializeAsV2, request examples are not output, as per the comments in https://github.com/microsoft/OpenAPI.NET/blob/master/src/Microsoft.OpenApi/Models/OpenApiExample.cs#L1

[2020-04-15 14:15] fabich commented on #402
@PerthCharern any updates on this?

[2020-04-21 12:48] fabich opened #472 "OpenApiPaths and Operations"
Hi all
I have a question regarding OpenApiPaths and their operations:
Let's assume I have the following two endpoints:
[code]
Is this valid from an OpenApi spec point of view?
According to online.swagger.io and OpenApiDiagnostic this is no issue.
Whey are they not combined? Or why is this not a validation issue?
With the following example from an API point of view I don't know what has been called

[2020-04-21 17:57] spparida opened #473 "Issues with OpenAPI.Net"
Hello Team,

We are building one API catalog and using Microsoft.OpenApi.Readers library in our application. We found couple of issues like

- We are unable to fetch RequestBody Object (I am aware there is a difference between OAS2 & OAS 3)
- Response is having lot of unwanted parameters like Title,  Type, Format, Description...etc. and it's keep repeating for each property. Is it really required?

[2020-04-23 11:32] V0v1kkk commented on #409
Could you increase priority of the feature, please?
Our contract-first specification contains 24k lines and it's painfull.

[2020-04-26 16:35] darrelmiller commented on #473
Hi @spparida

Could you provide an example of a OpenAPI description that fails to parse the RequestBody object?  That would help us identify the issue.

The Response object only has a Description property.  A number of the properties you describe are from the Schema that is a property of the media type object.  The media type object can be set to null in the content map if you don't want those det

[2020-04-26 16:43] darrelmiller commented on #472
The current version of the OpenAPI specification says this scenario is invalid.  http://spec.openapis.org/oas/v3.0.3#path-templating-matching

[code]

This has been the case since the specification was created.  This is one of the many challenges of trying to infer an OpenAPI specification from annotated code.  The general consensus in the space is that explicitly creating the OpenAPI document as

[2020-04-26 16:54] darrelmiller commented on #471
Technically those are two different examples.  One is an example of for the schema which is modelled as [Any](http://spec.openapis.org/oas/v2.0#fixed-fields-12) and the other is the `example` property of requestBody which is an OpenApiExample.

If the example was set in the Schema object of the RequestBody.Content then it would render out in V2.

I suppose in the V2 translation, we could reach int

[2020-04-26 16:57] darrelmiller commented on #468
Please feel free to re-open this issue if you can provide more details on what you are trying to achieve.

[2020-04-26 16:57] #468 closed

[2020-04-26 16:59] darrelmiller commented on #467
@korygin It would really help if you could provide at least a partial OpenAPI description of what you are trying to parse and render. Thanks.

[2020-04-26 17:00] #426 closed

[2020-04-26 17:02] darrelmiller commented on #454
Please let me know if you are still having this issue.  Thanks.

[2020-04-26 17:02] #454 closed

[2020-04-26 17:03] darrelmiller commented on #451
Please feel free to reopen this issue if you feel it has not been resolved.

[2020-04-26 17:03] #451 closed

[2020-04-26 17:04] darrelmiller commented on #410
Please feel free to reopen this issue if you feel it has not been resolved.

[2020-04-26 17:04] #410 closed

[2020-04-27 13:27] fabich commented on #472
thanks for your answer @darrelmiller

so shouldn't there be an error when loading a file like this in OpenApiDiagnostic?
[code]

I have no issue with this being invalid but the tooling is not reflecting this properly imho.

[2020-04-27 22:36] korygin commented on #467
﻿Hi Darrel,

There is nothing to parse, I’m assembling a brand new OpenAPI document object using your library from some other metadata. So this would have to be reproduced with code / unit test.

Create a simple OpenAPI document object with:

1. One reusable schema object in components.
2. One operation that requires a request body, i.e. Post/Put/Patch.
3. Populate the request‘s body content map w

[2020-05-01 17:30] FLAMESpl commented on #414
Hi, do you have ETA for complete feature or at least new update? Latest prerelease available on nuget throws StackOverflowException for my swagger doc.

[2020-05-13 13:33] ma499 commented on #402
Is this actually a bug? I just read the relevant section of the latest Open API 3.0.3 specification which [indicates that a discriminator field is actually required to be a 'required' field](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#composition-and-inheritance-polymorphism).

This is not new, the same is specified for Open API 2.0.

Therefore, having read the speci

[2020-05-14 10:03] ma499 opened #475 "Published package for CLI tool"
Apologies if I missed it from the documentation but I cannot find a reference to a published package for the CLI tool.

If the CLI tool is not currently published, can it published somewhere please?

If it is published, please could link(s) be added to the Readme.md and/or Wiki?

[2020-05-15 14:55] silascaimi opened #476 "Error importing OpenApi on Azure"
After trying to import into Azure, several errors are launched, among which are below

1. Parsing error (s): JSON is valid against no schemas from 'oneOf'. Path ......

for
[code]

2. Parsing error (s): JSON does not match any schemas from 'anyOf'. Path ......

3. Parsing error (s): Property 'originalRef' has not been defined and the schema does not allow additional properties. Path .........

Fin

[2020-05-17 18:18] darrelmiller commented on #476
I'm afraid I don't understand the context here.  What are you actually trying to do?  Can you provide a bit bigger sample of the OpenAPI description you are trying to work with.  The above example doesn't provide much context.

[2020-05-17 18:54] darrelmiller commented on #475
I currently haven't packaged up the CLI tool.  In order to publish packages in the Microsoft namespace they need to be setup using a pipeline that does code-signing with the Microsoft cert.  I haven't had chance to setup that build pipeline.

[2020-05-17 19:45] darrelmiller opened #477 "OpenAPI Workspace Feature"
OpenAPI allows reusing existing definitions using the $ref syntax.  The current implementation only supports what I am calling "local" references.  This means the $ref points to a component in the current OpenAPI document.

The OpenAPI specification also supports referencing content that exists in external documents.  There are two types of Remote references that use the $ref syntax and a third th

[2020-05-18 17:14] korygin opened #478 "Serializing as Json produces invalid Json for numeric types depending on culture"
This is the follow up on the original issue (https://github.com/microsoft/OpenAPI.NET/issues/396) that had been fixed in 1.1.3. I believe the problem still exists with example numeric values.

**Input JSON (read)**
"properties": {
  "weightTotalMax": {
     "type": "number",
	 "format": "float",
	 "description": "Максимальна загальна вага відправлення, кг",
	 "example": 29.992
  }
}

**Output JSON

[2020-05-19 16:12] nicolastakashi opened #479 "Query Parameters Serialization - Explode don't respect the default value."
When the `style: form` is present in the specification and `explode` not, the default value is being treated as `false` instead of `true`.

Using the example below:

[code]

I just looked around the code and I could see that the object is assuming the default value for a boolean property in .NET

One thing that could be done is to force the default value to be `true`, what do you think about that?

[2020-05-21 14:12] silascaimi commented on #476
Thanks for the feedback
The problem was solved by changing the swagger version in the settings

[2020-05-21 14:12] #476 closed

[2020-05-22 16:20] msoliver opened #480 "extension string properties being converted to date/times"
If I have an Open API document with an extension JSON block like so:

"x-myextension-foo" : {
   "myvalue": **"1:1"**
}

the string value **"1:1"** is being parsed as a date time because of the following code:

            if (((OpenApiString)openApiAny).IsExplicit())
            {
                // More narrow type detection for explicit strings, only check types that are passed as strings

[2020-05-24 16:32] darrelmiller commented on #480
Thanks for reporting this.  Looking at the available datetime styles [here](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimestyles?view=netcore-2.0) it is not clear to me what would be the most compatible option.

I actually think we made a mistake by trying to infer native types at all.  It has caused a number of issues so far.  I think in a future release we are simply g

[2020-05-24 17:48] msoliver commented on #480
Yep, still a problem. I tried that approach first before posting (using my own custom parser for my extension). It's still a problem because the data detail has already been parsed as a DateTime - the extension parser just gives me the ability to map it to my own C# extension class, but the data has already been converted...

What I would need is an interface that would allow me to write my own cu

[2020-05-24 22:26] darrelmiller commented on #478
I just switched my machine to French and confirmed that numbers were rendering with commas.  I then tried your example using the code in the vnext branch and it behaved as expected.

I am going to release the 1.2 version.  Could you check with that version that you are still seeing the issue?

[2020-05-26 12:43] korygin commented on #478
Thanks, Darrel. There can I get v 1.2? Is it published to NuGet?

Regards,

Alex

On May 24, 2020, at 18:26, Darrel <notifications@github.com> wrote:

﻿

I just switched my machine to French and confirmed that numbers were rendering with commas. I then tried your example using the code in the vnext branch and it behaved as expected.

I am going to release the 1.2 version. Could you check with that

[2020-06-05 18:20] simon-pearson commented on #477
Hi Darrel, I'd like to contribute towards this feature if possible.  For now I'll focus my efforts on adding support for references to remote document fragments.

Can we clarify how the client code will use document fragments?  I've added the following failing tests to `OpenApiWorkspaceTests.cs` which I think cover the main ways in which a client would want to reference a document fragment:
[code]

[2020-06-10 16:52] dedreira opened #483 "Configure reply urls using OAuth2 auth flows"
Hi all,

is there a way to configure Redirect Url when using OAuth2? I'm getting this error while trying to set up implicit flow authentication with swagger:

**The reply URL specified in the request does not match the reply URLs configured for the application**

If I check the authorize endpoint I see that it's automatically assigning this as the reply url for the OAuth flow:

**https://localhost

[2020-06-11 07:46] dedreira commented on #483
Sorry guys, now I understand that url is needed by swagger-ui to retrieve auth result from IDP... I'm closing this question....

[2020-06-11 07:46] #483 closed

[2020-06-12 14:19] darrelmiller commented on #477
Question1:   This is a great question and one I alluded to in a comment in the source:
[code]
I think we need to allow pointing to a valid object embedded somewhere within an arbitrary JSON/YAML fragment.

Question 2:
The tests make sense to me.  The second one is a bit ambiguous in that you can't tell fragment.json is actually a valid OpenAPI description or not.

Question 3:
No. I'm completely op

[2020-06-15 14:28] mwadams opened #484 "OpenApiWalker does not Walk the schema in AdditionalProperties"
Around about here...

https://github.com/microsoft/OpenAPI.NET/blob/3d620544669801bc334e875d707feccbebf90d8d/src/Microsoft.OpenApi/Services/OpenApiWalker.cs#L779

The Walker should also walk the `AdditionalProperties` schema, if present.

[2020-06-16 03:53] asvishnyakov opened #486 "Support custom name for body parameter in serialization for V2"
Or make code extendable to allow do it on customer side.

https://github.com/microsoft/OpenAPI.NET/blob/3d620544669801bc334e875d707feccbebf90d8d/src/Microsoft.OpenApi/Models/OpenApiOperation.cs#L244-L252

[2020-06-16 13:33] LeroyK opened #487 "OpenAPI.NET 1.2.0 is not backwards compatible with 1.1.x"
Version 1.2.0 is not backwards compatible with 1.1.x. For example, the constructor of OpenApiString has changed from:

[code]
to
[code]

If another project references the old version, it cannot find the constructor since its signature has changed. It would have been better to add a new constructor or increase the major version number of the package (if you adhere to semantic versioning). At the ve

[2020-06-16 13:40] LeroyK commented on #480
I have been running into similar issues when trying to clone an OpenApiDocument by serializing it to json and deserializing. Example values would be converted to incorrect types, even numeric values that were deliberately serialized as string would become numeric (eg. "123" would be deserialized as a numeric value of 123).

I agree with @darrelmiller that inferring native types migth have been a m

[2020-06-16 15:01] darrelmiller commented on #480
@LeroyK Making it optional is a good idea. Making it a reader setting would actually be a good way that we can fix this behavior without making a breaking change.

[2020-06-19 14:20] IanKemp commented on #296
Sooo... was this ever done.?

[2020-06-22 08:28] CumpsD commented on #487
This just bit me

`System.MissingMethodException: Method not found: 'Void Microsoft.OpenApi.Any.OpenApiString..ctor(System.String)'.`

[2020-06-24 18:01] CumpsD commented on #487
Added a PR: https://github.com/microsoft/OpenAPI.NET/pull/489

[2020-06-24 18:54] CumpsD commented on #487
@darrelmiller any chance for your input on this one please?

[2020-06-24 19:27] darrelmiller commented on #487
Ugh.  Apparently optional parameters have source backward compatibility but not [binary backward compatibility](https://codeblog.jonskeet.uk/2015/06/03/backwards-compatibility-is-still-hard/).

[2020-06-24 19:35] CumpsD commented on #487
Yep :) Compiler magic...

[2020-06-24 20:46] korygin commented on #478
Hi Darrel, I can confirm that the issue is fixed in 1.2. I'm going to close the issue now. Thanks!

[2020-06-24 20:46] #478 closed

[2020-06-24 21:53] hasancemcerit commented on #487
With 1.2.1, the previous `OpenApiString` error just got transformed into

```Method not found: 'Void Microsoft.OpenApi.Writers.OpenApiJsonWriter..ctor(System.IO.TextWriter)'.```
🤔

[2020-06-24 21:57] CumpsD commented on #487
@hasancemcerit PR ongoing to fix it: https://github.com/microsoft/OpenAPI.NET/pull/492

[2020-06-25 01:56] CumpsD commented on #487
It's fixed. 1.2.2 has no breaking changes, and the others got delisted.

@darrelmiller This can probably be closed now :)

[2020-06-25 03:06] darrelmiller commented on #486
If we auto-create an x-name when importing a v2 document and round-trip that when writing as v2, would that solve the problem for you?

[2020-06-25 07:25] asvishnyakov commented on #486
@darrelmiller It's better to set `name`, of course. If you can't/don't want to fix issue this way, then probably you may just close it. #485 can be used as workaround.

[2020-06-25 08:27] KalleOlaviNiemitalo opened #495 "OpenApiTextReaderReader inconsistently sets "#char=" vs. "#line=" in OpenApiError.Pointer"
When `OpenApiTextReaderReader` translates a `YamlException` to `OpenApiError`, it sets "#line=" followed by a line number as `OpenApiError.Pointer`:

<https://github.com/microsoft/OpenAPI.NET/blob/cb254da1f72dfb29199ff45cc38fe05489e6d468/src/Microsoft.OpenApi.Readers/OpenApiTextReaderReader.cs#L73>

Here though, it instead sets "#char=" followed by a line number as `OpenApiError.Pointer`:

<https:

[2020-07-01 05:58] mikecowgill commented on #480
I just ran into this as well. In my extension, a semantic version string "3.1.2" is converted into a datetime. Adding the ability to disable the type inference would be great.